Repository Nokhte/nokhte: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-the-db-rules-and-edge-functions, run-the-unit-tests

test-the-db-rules-and-edge-functions:
  stage: development
  script:
  - melos bs
  - cd packages/backend/dart
  - echo "APPLE_CLIENT_SECRET='$APPLE_CLIENT_SECRET'" >> .env
  - echo "GOOGLE_CLIENT_ID='$GOOGLE_CLIENT_ID'" >> .env
  - echo "GOOGLE_CLIENT_SECRET='$GOOGLE_CLIENT_SECRET'" >> .env
  - supabase stop --no-backup
  - supabase start
  ...

run-the-unit-tests:
  stage: development
  script:
  - melos bs
  - cd packages/client
  - touch .env
  - flutter pub get
  - flutter test

clean up comments & inject widgets & rm ui code
  packages/client/lib/app/modules/p2p_purpose_session/presentation/mobx/coordinators/p2p_purpose_phase4_coordinator.dart
Due: run-the-unit-tests

rm individual widget binds & inject widget coordinator
  packages/client/lib/app/modules/p2p_purpose_session/p2p_purpose_session_module.dart
Due: run-the-unit-tests

new beach wave & coordinator impl
  packages/client/lib/app/modules/p2p_purpose_session/presentation/views/p2p_purpose4_reciprocate_attention_screen.dart
Due: run-the-unit-tests

bifurcate & separate UI vs business logic
  packages/client/lib/app/modules/p2p_purpose_session/presentation/mobx/coordinators/p2p_purpose_phase5_coordinator.dart
  packages/client/lib/app/modules/p2p_purpose_session/presentation/mobx/coordinators/p2p_purpose_phase5_coordinator.g.dart
  packages/client/lib/app/modules/p2p_purpose_session/presentation/mobx/widget_coordinators/p2p_purpose_phase5_widgets_coordinator.dart
  packages/client/lib/app/modules/p2p_purpose_session/presentation/mobx/widget_coordinators/p2p_purpose_phase5_widgets_coordinator.g.dart
Due: run-the-unit-tests

add phase 5 widgets injector
  packages/client/lib/app/modules/p2p_purpose_session/p2p_purpose_widgets_module.dart
Due: run-the-unit-tests

inject widgets coordinator
  packages/client/lib/app/modules/p2p_purpose_session/p2p_purpose_session_module.dart
Due: run-the-unit-tests

change to widgets stores connection
  packages/client/lib/app/modules/p2p_purpose_session/presentation/views/p2p_purpose5_collective_creation.dart
Due: run-the-unit-tests

rm commented listener && prod navigation change
  packages/client/lib/app/modules/home/presentation/mobx/coordinators/home_screen_coordinator_store.dart
Due: run-the-unit-tests

rm old commented out code
  packages/client/lib/app/modules/home/presentation/screens/home_screen.dart
Due: run-the-unit-tests

rm un-needed observer
  packages/client/lib/app/core/widgets/beach_widgets/beach_waves/stack/presentation/widgets/dumb_beach_waves.dart
Due: run-the-unit-tests

refactor home screen coordinator
  packages/client/lib/app/modules/home/presentation/mobx/coordinators/home_screen_coordinator_store.dart
Due: run-the-unit-tests

add real concurrency locks in initiate_collaborator_search edge functino
  packages/backend/supabase/functions/initiate-collaborator-search/index.ts
  packages/backend/supabase/functions/utils/array_utils.ts
  packages/backend/supabase/migrations/20231202221004_existing_collaborations_uniqueness.sql
Due: test-the-db-rules-and-edge-functions

bug fix in create new collaboration queries
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/queries.dart
Due: test-the-db-rules-and-edge-functions

function rename
  packages/client/lib/app/modules/p2p_purpose_session/presentation/mobx/widget_coordinators/p2p_purpose_phase2_widgets_coordinator.dart
  packages/client/lib/app/modules/p2p_purpose_session/presentation/mobx/widget_coordinators/p2p_purpose_phase2_widgets_coordinator.g.dart
Due: run-the-unit-tests

rm flutter_mobx from widget
  packages/client/lib/app/core/widgets/beach_widgets/beach_waves/stack/presentation/widgets/dumb_beach_waves.dart
Due: run-the-unit-tests

comment cleanup
  packages/client/lib/app/core/modules/timer/mobx/timer_coordinator.dart
Due: run-the-unit-tests

fix: timer_coordinator, movie playback bug
  packages/client/lib/app/core/modules/timer/mobx/timer_coordinator.dart
  packages/client/lib/app/core/modules/timer/mobx/timer_coordinator.g.dart
Due: run-the-unit-tests

fix: mesh button not mirrorning on purpose call #2
  packages/client/lib/app/modules/p2p_purpose_session/presentation/mobx/coordinators/p2p_purpose_phase2_coordinator.dart
  packages/client/lib/app/modules/p2p_purpose_session/presentation/mobx/widget_coordinators/p2p_purpose_phase2_widgets_coordinator.dart
Due: run-the-unit-tests

refactor: made phase 5 purpose widgets more readable
  packages/client/lib/app/modules/p2p_purpose_session/presentation/mobx/widget_coordinators/p2p_purpose_phase5_widgets_coordinator.dart
  packages/client/lib/app/modules/p2p_purpose_session/presentation/mobx/widget_coordinators/p2p_purpose_phase5_widgets_coordinator.g.dart
Due: run-the-unit-tests

added doc listener
  packages/client/lib/app/modules/p2p_purpose_session/presentation/mobx/coordinators/p2p_purpose_phase5_coordinator.dart
Due: run-the-unit-tests

rm observer & mobx
  packages/client/lib/app/modules/p2p_purpose_session/presentation/views/p2p_purpose5_collective_creation.dart
Due: run-the-unit-tests

update working_collaborative_documents, content rows for each
  packages/backend/supabase/migrations/20231203191259_working_collaborative_doc_alterations.sql
Due: test-the-db-rules-and-edge-functions

💥 👽️ working_collaborative_documents queries
  packages/backend/dart/lib/tables/_real_time_enabled/working_collaborative_documents/queries.dart
Due: test-the-db-rules-and-edge-functions

✏️ working_collaborative_documents update query
  packages/backend/dart/lib/tables/_real_time_enabled/working_collaborative_documents/queries.dart
  packages/client/lib/app/modules/home/presentation/mobx/coordinators/home_screen_coordinator_store.dart
  packages/client/lib/app/modules/p2p_purpose_session/p2p_purpose_session_module.dart
  packages/client/lib/app/modules/p2p_purpose_session/presentation/mobx/widget_coordinators/p2p_purpose_phase5_widgets_coordinator.dart
Due: test-the-db-rules-and-edge-functions, run-the-unit-tests

⏪ module + coordinator back to production defaults
  packages/client/lib/app/modules/home/presentation/mobx/coordinators/home_screen_coordinator_store.dart
  packages/client/lib/app/modules/p2p_purpose_session/p2p_purpose_session_module.dart
Due: run-the-unit-tests

🚨 reflected query name changes
  packages/backend/dart/test/08_working_collaborative_documents_test.dart
  packages/backend/dart/test/quality_of_life_scripts/quality_of_life_test.dart
  packages/client/lib/app/core/modules/collaborative_doc/data/sources/collaborative_doc_remote_source.dart
Due: test-the-db-rules-and-edge-functions, run-the-unit-tests

🧪+🚚 working_collaborative_documents test re-org
  packages/backend/dart/test/08_working_collaborative_documents_test.dart
Due: test-the-db-rules-and-edge-functions

🚚 + 🗃 query re-org and new query `getDocInfo`
  packages/backend/dart/lib/tables/_real_time_enabled/working_collaborative_documents/queries.dart
Due: test-the-db-rules-and-edge-functions

🧱 working_collaborative_documents column constants
  packages/backend/dart/lib/tables/_real_time_enabled/working_collaborative_documents/queries.dart
Due: test-the-db-rules-and-edge-functions

🐛 params in delta + presence query got mixed up w/ constants
  packages/backend/dart/lib/tables/_real_time_enabled/working_collaborative_documents/queries.dart
Due: test-the-db-rules-and-edge-functions

🧱 working collaborative docs test re-structure + atomization
  packages/backend/dart/test/08_working_collaborative_documents_test.dart
Due: test-the-db-rules-and-edge-functions

🚨 param update in collaborative doc remote source
  packages/client/lib/app/core/modules/collaborative_doc/data/sources/collaborative_doc_remote_source.dart
Due: run-the-unit-tests

✅ collaborative doc module tests to reflect DocInfoContent changes
  packages/client/test/app/core/modules/collaborative_doc/constants/responses/doc_content_response.dart
  packages/client/test/app/core/modules/collaborative_doc/data/contracts/collaborative_doc_contract_impl_test.dart
  packages/client/test/app/core/modules/collaborative_doc/domain/logic/get_collaborative_doc_content_test.dart
  packages/client/test/app/core/modules/collaborative_doc/mobx/get_collaborative_doc_content_store_test.dart
Due: run-the-unit-tests

🎨 ♻️ address new DocInfoContent & readability updates
  packages/backend/dart/lib/tables/_real_time_enabled/working_collaborative_documents/streams.dart
Due: test-the-db-rules-and-edge-functions

🔥 currentUserUID & lastEdited by, use lastEditWasTheUser instead
  packages/client/test/app/core/modules/collaborative_doc/constants/responses/doc_content_response.dart
  packages/client/test/app/core/modules/collaborative_doc/data/contracts/collaborative_doc_contract_impl_test.dart
  packages/client/test/app/core/modules/collaborative_doc/domain/logic/get_collaborative_doc_content_test.dart
  packages/client/test/app/core/modules/collaborative_doc/mobx/get_collaborative_doc_content_store_test.dart
Due: run-the-unit-tests

replace content w/ usersContent
  packages/client/lib/app/modules/collective_session/presentation/mobx/coordinators/collective_session_phase2_coordinator.dart
Due: run-the-unit-tests

🏷️ replace content w/ usersContent & lastEditWasTheUser api
  packages/client/lib/app/modules/p2p_purpose_session/presentation/mobx/widget_coordinators/p2p_purpose_phase5_widgets_coordinator.dart
Due: run-the-unit-tests

✅ working_collaborative_document test suite
  packages/backend/dart/test/08_working_collaborative_documents_test.dart
Due: test-the-db-rules-and-edge-functions

🏷️ update default entity type for DocInfoContent
  packages/client/lib/app/core/constants/entities.dart
Due: run-the-unit-tests

🏷️ backend working_collaborative_document streams return types
  packages/backend/dart/lib/tables/_real_time_enabled/working_collaborative_documents/types/doc_info_content.dart
Due: test-the-db-rules-and-edge-functions

Path conditions:
  test-the-db-rules-and-edge-functions: any of: packages/backend/**/*
  run-the-unit-tests: any of: packages/client/**/*
