Repository Nokhte/nokhte: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-the-db-rules-and-edge-functions, run-the-unit-tests

Path conditions:
  test-the-db-rules-and-edge-functions: any of: packages/backend/**/*
  run-the-unit-tests: any of: packages/client/**/*

1️⃣♻️ user_names query signatures to be more explicit
  packages/backend/dart/lib/tables/_real_time_disabled/user_names/queries.dart
Due: test-the-db-rules-and-edge-functions

2️⃣️🚚 rename to UserNamesQueries & move to field injection of supabase
  packages/backend/dart/lib/tables/_real_time_disabled/user_names/queries.dart
Due: test-the-db-rules-and-edge-functions

3️⃣✅ 01_user_name_table_test (refactored away from static methods)
  packages/backend/dart/test/01_user_name_table_test.dart
Due: test-the-db-rules-and-edge-functions

2️⃣️🚨 adjust home_remote_source user_names queries away from static
  packages/client/lib/app/modules/home/data/sources/home_remote_source.dart
Due: run-the-unit-tests

2️⃣️🚨 adjust gerry client home remote source to minimize errors
  packages/old_client/lib/app/modules/home/data/sources/home_remote_source.dart
Due: none

1️⃣✅ 08_working_collaborative_documents_test
  packages/backend/dart/test/08_working_collaborative_documents_test.dart
Due: test-the-db-rules-and-edge-functions

5️⃣🚚 rename 01 backend test & adjust test.sh accordingly
  packages/backend/dart/scripts/test.sh
  packages/backend/dart/test/01_user_names_and_collaborator_phrase_tables_test.dart
Due: test-the-db-rules-and-edge-functions

2️⃣️🗃️ add update RLS on user_names table
  packages/backend/supabase/migrations/20240102211534_user_names_additions.sql
Due: test-the-db-rules-and-edge-functions

3️⃣🐛UserNamesqueries param mixup w/ field names
  packages/backend/dart/lib/tables/_real_time_disabled/user_names/queries.dart
Due: test-the-db-rules-and-edge-functions

3️⃣🐛UserNamesqueries add select on update queries
  packages/backend/dart/lib/tables/_real_time_disabled/user_names/queries.dart
Due: test-the-db-rules-and-edge-functions

3️⃣✅ 01_user_names_and_collaborator_phrase_tables_test (update methods)
  packages/backend/dart/test/01_user_names_and_collaborator_phrase_tables_test.dart
Due: test-the-db-rules-and-edge-functions

2️⃣️🚨 change param names in home_remote_source
  packages/client/lib/app/modules/home/data/sources/home_remote_source.dart
Due: run-the-unit-tests

2️⃣️🚨 change param names in gerry home_remote_source
  packages/old_client/lib/app/modules/home/data/sources/home_remote_source.dart
Due: none

2️⃣️🏷️ add has_gone_through_invitation_flow_update_status_entity
  packages/client/lib/app/modules/home/domain/entities/has_gone_through_invitation_flow_update_status_entity.dart
Due: run-the-unit-tests

2️⃣️🏷️ add has_sent_an_invitation_update_status_entity
  packages/client/lib/app/modules/home/domain/entities/has_sent_an_invitation_update_status_entity.dart
Due: run-the-unit-tests

2️⃣️🏷️ add user_journey_info_entity
  packages/client/lib/app/modules/home/domain/entities/user_journey_info_entity.dart
Due: run-the-unit-tests

1️⃣🛢️ home entities exports
  packages/client/lib/app/modules/home/domain/entities/entities.dart
Due: run-the-unit-tests

1️⃣👔 home contract: add setter & getter methods for user info
  packages/client/lib/app/modules/home/domain/contracts/home_contract.dart
Due: run-the-unit-tests

2️⃣️💬 add initial getters to home entities 1. has_gone_through_invitation_flow_update_status_entity 2. has_sent_an_invitation_update_status_entity 3. user_journey_info_entity
  packages/client/lib/app/modules/home/domain/entities/has_gone_through_invitation_flow_update_status_entity.dart
  packages/client/lib/app/modules/home/domain/entities/has_sent_an_invitation_update_status_entity.dart
  packages/client/lib/app/modules/home/domain/entities/user_journey_info_entity.dart
Due: run-the-unit-tests

2️⃣️👔 add update_has_sent_an_invitation logic
  packages/client/lib/app/modules/home/domain/logic/update_has_sent_an_invitation.dart
Due: run-the-unit-tests

2️⃣️👔 add update_has_gone_through_invitation_flow
  packages/client/lib/app/modules/home/domain/logic/update_has_gone_through_invitation_flow.dart
Due: run-the-unit-tests

2️⃣️👔 add get_user_info logic in home module
  packages/client/lib/app/modules/home/domain/logic/get_user_info.dart
Due: run-the-unit-tests

1️⃣🛢️ add home logic exports
  packages/client/lib/app/modules/home/domain/logic/logic.dart
Due: run-the-unit-tests

1️⃣🐛 add NoParams on getUserInfo on Home Contract Interface
  packages/client/lib/app/modules/home/domain/contracts/home_contract.dart
Due: run-the-unit-tests

2️⃣️🧮 add has_gone_through_invitation_flow_update_status_model
  packages/client/lib/app/modules/home/data/models/has_gone_through_invitation_flow_update_status_model.dart
Due: run-the-unit-tests

2️⃣️🧮 add user_journey_info_model
  packages/client/lib/app/modules/home/data/models/user_journey_info_model.dart
Due: run-the-unit-tests

2️⃣️🧮 add has_sent_an_invitation_update_status_model
  packages/client/lib/app/modules/home/data/models/has_sent_an_invitation_update_status_model.dart
Due: run-the-unit-tests

1️⃣🛢️ home models exports
  packages/client/lib/app/modules/home/data/models/models.dart
Due: run-the-unit-tests

3️⃣👔 add userInfo methods to contract implementation 1. getUserInfo 2. updateHasGoneThroughInvitationFlow 3. updateHasSentAnInvitation
  packages/client/lib/app/modules/home/data/contracts/home_contract_impl.dart
Due: run-the-unit-tests

2️⃣👔 add userInfo getter & setters in home remote source
  packages/client/lib/app/modules/home/data/sources/home_remote_source.dart
Due: run-the-unit-tests

3️⃣🧮 add get_user_info_store
  packages/client/lib/app/modules/home/presentation/mobx/main/get_user_info_store.dart
  packages/client/lib/app/modules/home/presentation/mobx/main/get_user_info_store.g.dart
Due: run-the-unit-tests

3️⃣🧮 add update_has_gone_through_invitation_flow_store
  packages/client/lib/app/modules/home/presentation/mobx/main/update_has_gone_through_invitation_flow_store.dart
  packages/client/lib/app/modules/home/presentation/mobx/main/update_has_gone_through_invitation_flow_store.g.dart
Due: run-the-unit-tests

3️⃣🧮 add update_has_sent_an_invitation_store
  packages/client/lib/app/modules/home/presentation/mobx/main/update_has_sent_an_invitation_store.dart
  packages/client/lib/app/modules/home/presentation/mobx/main/update_has_sent_an_invitation_store.g.dart
Due: run-the-unit-tests

1️⃣🛢️ home main mobx store exports
  packages/client/lib/app/modules/home/presentation/mobx/main/main.dart
Due: run-the-unit-tests

2️⃣🧮 add userInfo getter & setter stores to homeScreenCoordinator
  packages/client/lib/app/modules/home/presentation/mobx/coordinators/home_screen_coordinator.dart
Due: run-the-unit-tests

3️⃣🧮 add userInfo getter & setter binds to home module
  packages/client/lib/app/modules/home/home_module.dart
Due: run-the-unit-tests

5️⃣🤡 home mocks updates
  packages/client/test/app/modules/home/fixtures/home_stack_mock_gen.dart
  packages/client/test/app/modules/home/fixtures/home_stack_mock_gen.mocks.dart
Due: run-the-unit-tests

2️⃣️✅ update deps in home_screen_coordinator_test
  packages/client/test/app/modules/home/presentation/mobx/coordinator/home_screen_coordinator_test.dart
Due: run-the-unit-tests

2️⃣️🧮 make update user_names table queries idempotent
  packages/backend/dart/lib/tables/_real_time_disabled/user_names/queries.dart
Due: test-the-db-rules-and-edge-functions

2️⃣✅ test idempotency in user_names update operations
  packages/backend/dart/test/01_user_names_and_collaborator_phrase_tables_test.dart
Due: test-the-db-rules-and-edge-functions
