Repository Nokhte/nokhte: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-the-db-rules-and-edge-functions, run-the-unit-tests

Path conditions:
  test-the-db-rules-and-edge-functions: any of: packages/backend/**/*
  run-the-unit-tests: any of: packages/client/**/*

start rotating text added to constructor
  packages/client/lib/app/modules/p2p_collaborator_pool/presentation/mobx/coordinators/widget_coordinator_store.dart
Due: run-the-unit-tests

removed unncessary initial fade in delay param
  packages/client/lib/app/modules/p2p_purpose_session/presentation/views/p2p_purpose1_greeter_screen.dart
  packages/client/lib/app/modules/p2p_purpose_session/presentation/views/p2p_purpose2_consultation_screen.dart
  packages/client/lib/app/modules/p2p_purpose_session/presentation/views/p2p_purpose3_individual_reflection_screen.dart
  packages/client/lib/app/modules/p2p_purpose_session/presentation/views/p2p_purpose4_reciprocate_attention_screen.dart
Due: run-the-unit-tests

set starting lists & added initial fade in delay
  packages/client/lib/app/modules/p2p_purpose_session/presentation/mobx/coordinators/p2p_purpose_phase1_coordinator_store.dart
  packages/client/lib/app/modules/p2p_purpose_session/presentation/mobx/coordinators/p2p_purpose_phase2_coordinator_store.dart
  packages/client/lib/app/modules/p2p_purpose_session/presentation/mobx/coordinators/p2p_purpose_phase3_coordinator_store.dart
  packages/client/lib/app/modules/p2p_purpose_session/presentation/mobx/coordinators/p2p_purpose_phase4_coordinator_store.dart
Due: run-the-unit-tests

removed unncessary injection param
  packages/client/lib/app/modules/p2p_purpose_session/p2p_purpose_session_module.dart
Due: run-the-unit-tests

removed unncessary fading text param
  packages/client/lib/app/modules/p2p_collaborator_pool/presentation/views/speak_the_collaborator_phrase_screen.dart
Due: run-the-unit-tests

added error vibration & took out extra fading text
  packages/client/lib/app/modules/p2p_collaborator_pool/presentation/mobx/coordinators/speak_the_collaborator_phrase_coordinator_store.dart
Due: run-the-unit-tests

beach_waves test fixes
  packages/client/test/app/core/widgets/beach_waves/stack/presentation/mobx/beach_waves_tracker_store_test.dart
Due: run-the-unit-tests

existing_collaboration constraint & row additions
  packages/backend/supabase/migrations/20231121134126_existing_collaboration_additions.sql
Due: test-the-db-rules-and-edge-functions

migrated from static methods to supabase injection
  packages/backend/dart/lib/edge_functions/end_collaborator_search.dart
  packages/backend/dart/lib/edge_functions/initiate_collaborator_search.dart
  packages/backend/dart/lib/tables/_real_time_disabled/collaborator_phrases/queries.dart
Due: test-the-db-rules-and-edge-functions

added param for not setting up collaboration
  packages/backend/dart/test/shared/common_collaborative_test_functions.dart
Due: test-the-db-rules-and-edge-functions

added who_talked_last static param
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/queries.dart
Due: test-the-db-rules-and-edge-functions

moved stream from constructor params to init list
  packages/client/lib/app/modules/p2p_collaborator_pool/p2p_collaborator_pool_module.dart
Due: run-the-unit-tests

migration from static to supabse injection
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/stream.dart
Due: test-the-db-rules-and-edge-functions

update test in commensurate w/ supabase injection
  packages/backend/dart/test/02_collaborator_phrases_table_test.dart
Due: test-the-db-rules-and-edge-functions

update test to work w/ supabse injection & standard setup
  packages/backend/dart/test/03_synchronous_search_test.dart
Due: test-the-db-rules-and-edge-functions

modified quality of life to deal w/ supabse injection
  packages/backend/dart/test/quality_of_life_scripts/quality_of_life_test.dart
Due: test-the-db-rules-and-edge-functions

added extra query class to move away from static queries
  packages/client/lib/app/modules/home/data/sources/home_remote_source.dart
Due: run-the-unit-tests

added edge function classes to init list & methods
  packages/client/lib/app/modules/p2p_collaborator_pool/data/sources/p2p_collaborator_pool_remote_source.dart
Due: run-the-unit-tests

standardized tests & query injections interface
  packages/backend/dart/lib/tables/_real_time_disabled/solo_sharable_documents/queries.dart
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/queries.dart
  packages/backend/dart/test/04_get_agora_token_test.dart
  packages/backend/dart/test/05_existing_collaborations_table_test.dart
  packages/backend/dart/test/06_solo_sharable_documents_table_test.dart
  packages/backend/dart/test/quality_of_life_scripts/quality_of_life_test.dart
  packages/client/lib/app/core/modules/solo_doc/data/sources/solo_doc_remote_source.dart
Due: test-the-db-rules-and-edge-functions, run-the-unit-tests

fix bug field name & tested who is talking stream
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/queries.dart
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/stream.dart
  packages/backend/dart/test/05_existing_collaborations_table_test.dart
Due: test-the-db-rules-and-edge-functions

bug fix on existing collaborations queries + tests
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/queries.dart
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/stream.dart
  packages/backend/dart/test/05_existing_collaborations_table_test.dart
  packages/backend/dart/test/shared/common_collaborative_test_functions.dart
Due: test-the-db-rules-and-edge-functions

bug fix relatd to forgetting the await
  packages/backend/dart/test/10_p2p_perspectives_tracking_table_test.dart
Due: test-the-db-rules-and-edge-functions

modified tearDown to tearDown all
  packages/backend/dart/test/03_synchronous_search_test.dart
Due: test-the-db-rules-and-edge-functions

addressed collaboration not deleting bug
  packages/backend/dart/test/05_existing_collaborations_table_test.dart
Due: test-the-db-rules-and-edge-functions

added clear function, and made stream return bool
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/queries.dart
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/stream.dart
  packages/backend/dart/test/05_existing_collaborations_table_test.dart
Due: test-the-db-rules-and-edge-functions

add entities for get_who_is_talking
  packages/client/lib/app/core/modules/get_who_is_talking/domain/entities/check_if_collaborator_is_talking_entity.dart
  packages/client/lib/app/core/modules/get_who_is_talking/domain/entities/entities.dart
  packages/client/lib/app/core/modules/get_who_is_talking/domain/entities/who_is_talking_update_status_entity.dart
Due: run-the-unit-tests

changed module name new entity file placement
  packages/client/lib/app/core/modules/one_talker_at_a_time/domain/entities/check_if_collaborator_is_talking_entity.dart
  packages/client/lib/app/core/modules/one_talker_at_a_time/domain/entities/entities.dart
  packages/client/lib/app/core/modules/one_talker_at_a_time/domain/entities/who_is_talking_update_status_entity.dart
Due: run-the-unit-tests

added constract interface for one talker module
  packages/client/lib/app/core/modules/one_talker_at_a_time/domain/contracts/one_talker_at_a_time_contract.dart
Due: run-the-unit-tests

add logic for the two contract methods
  packages/client/lib/app/core/modules/one_talker_at_a_time/domain/logic/check_if_collaborator_is_talking.dart
  packages/client/lib/app/core/modules/one_talker_at_a_time/domain/logic/logic.dart
  packages/client/lib/app/core/modules/one_talker_at_a_time/domain/logic/update_who_is_talking.dart
Due: run-the-unit-tests

update param type name accordingly
  packages/client/lib/app/core/modules/one_talker_at_a_time/domain/contracts/one_talker_at_a_time_contract.dart
Due: run-the-unit-tests

add domain barrel
  packages/client/lib/app/core/modules/one_talker_at_a_time/domain/domain.dart
Due: run-the-unit-tests

typo with non-capitalized 'i' fixed
  packages/client/lib/app/core/modules/one_talker_at_a_time/domain/entities/check_if_collaborator_is_talking_entity.dart
  packages/client/lib/app/core/modules/one_talker_at_a_time/domain/logic/check_if_collaborator_is_talking.dart
Due: run-the-unit-tests

models added for one_talker_at_a_time module
  packages/client/lib/app/core/modules/one_talker_at_a_time/data/models/check_if_collaborator_is_talking_model.dart
  packages/client/lib/app/core/modules/one_talker_at_a_time/data/models/models.dart
  packages/client/lib/app/core/modules/one_talker_at_a_time/data/models/who_is_talking_update_status_model.dart
Due: run-the-unit-tests

fixed typo with 'i' in the contract interface
  packages/client/lib/app/core/modules/one_talker_at_a_time/domain/contracts/one_talker_at_a_time_contract.dart
Due: run-the-unit-tests

implemented contract interface & add remote source signature
  packages/client/lib/app/core/modules/one_talker_at_a_time/data/contracts/one_talker_at_a_time_contract_impl.dart
  packages/client/lib/app/core/modules/one_talker_at_a_time/data/sources/one_talker_at_a_time_remote_source.dart
Due: run-the-unit-tests

implemented remote source & add data barrel file
  packages/client/lib/app/core/modules/one_talker_at_a_time/data/data.dart
  packages/client/lib/app/core/modules/one_talker_at_a_time/data/sources/one_talker_at_a_time_remote_source.dart
Due: run-the-unit-tests

code-gen mock changes
  packages/client/test/app/modules/home/fixtures/home_stack_mock_gen.mocks.dart
  packages/client/test/app/modules/p2p_collaborator_pool/fixtures/p2p_collaborator_pool_stack_mock_gen.mocks.dart
Due: run-the-unit-tests

param name change in update who is talking
  packages/client/lib/app/core/constants/entities.dart
  packages/client/lib/app/core/modules/one_talker_at_a_time/data/contracts/one_talker_at_a_time_contract_impl.dart
  packages/client/lib/app/core/modules/one_talker_at_a_time/domain/contracts/one_talker_at_a_time_contract.dart
  packages/client/lib/app/core/modules/one_talker_at_a_time/domain/logic/update_who_is_talking.dart
Due: run-the-unit-tests

mobx stores in one_talker_at_a_time_module
  packages/client/lib/app/core/modules/one_talker_at_a_time/mobx/check_if_collaborator_is_talking_store.dart
  packages/client/lib/app/core/modules/one_talker_at_a_time/mobx/check_if_collaborator_is_talking_store.g.dart
  packages/client/lib/app/core/modules/one_talker_at_a_time/mobx/mobx.dart
  packages/client/lib/app/core/modules/one_talker_at_a_time/mobx/update_who_is_talking_store.dart
  packages/client/lib/app/core/modules/one_talker_at_a_time/mobx/update_who_is_talking_store.g.dart
Due: run-the-unit-tests

one_talker_at_a_time module binds
  packages/client/lib/app/core/modules/one_talker_at_a_time/one_talker_at_a_time_module.dart
Due: run-the-unit-tests
