Repository Nokhte/nokhte: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-the-db-rules-and-edge-functions, run-the-unit-tests

test-the-db-rules-and-edge-functions:
  stage: development
  script:
  - melos bs
  - cd packages/backend/dart
  - echo "APPLE_CLIENT_SECRET='$APPLE_CLIENT_SECRET'" >> .env
  - echo "GOOGLE_CLIENT_ID='$GOOGLE_CLIENT_ID'" >> .env
  - echo "GOOGLE_CLIENT_SECRET='$GOOGLE_CLIENT_SECRET'" >> .env
  - supabase stop --no-backup
  - supabase start
  ...

run-the-unit-tests:
  stage: development
  script:
  - melos bs
  - cd packages/client
  - touch .env
  - flutter pub get
  - flutter test

phase 2 working
  packages/client/lib/app/modules/p2p_purpose_session/presentation/mobx/coordinators/p2p_purpose_phase2_coordinator_store.dart
Due: run-the-unit-tests

phase2 transition done
  packages/client/lib/app/modules/p2p_purpose_session/presentation/mobx/coordinators/p2p_purpose_phase2_coordinator_store.dart
Due: run-the-unit-tests

phase 3 done
  packages/client/lib/app/modules/p2p_purpose_session/presentation/mobx/coordinators/p2p_purpose_phase3_coordinator_store.dart
Due: run-the-unit-tests

phase 2 refactored to be more robust
  packages/client/lib/app/modules/p2p_purpose_session/presentation/mobx/coordinators/p2p_purpose_phase2_coordinator_store.dart
Due: run-the-unit-tests

phase 3 coordinator done
  packages/client/lib/app/modules/p2p_purpose_session/presentation/mobx/coordinators/p2p_purpose_phase3_coordinator_store.dart
Due: run-the-unit-tests

query bugs
  packages/backend/dart/lib/tables/_real_time_disabled/solo_sharable_documents/queries.dart
  packages/backend/dart/lib/tables/_real_time_enabled/timer_information/stream.dart
Due: test-the-db-rules-and-edge-functions

too many reaction deps make it single reaction future based
  packages/client/lib/app/modules/p2p_purpose_session/presentation/mobx/coordinators/p2p_purpose_phase2_coordinator_store.dart
  packages/client/lib/app/modules/p2p_purpose_session/presentation/mobx/coordinators/p2p_purpose_phase3_coordinator_store.dart
  packages/client/lib/app/modules/p2p_purpose_session/presentation/mobx/coordinators/p2p_purpose_phase4_coordinator_store.dart
  packages/client/lib/app/modules/p2p_purpose_session/presentation/mobx/coordinators/p2p_purpose_phase4_coordinator_store.g.dart
Due: run-the-unit-tests

convert to stateful, more predictable behavior
  packages/client/lib/app/modules/p2p_purpose_session/presentation/views/p2p_purpose2_consultation_screen.dart
  packages/client/lib/app/modules/p2p_purpose_session/presentation/views/p2p_purpose3_individual_reflection_screen.dart
  packages/client/lib/app/modules/p2p_purpose_session/presentation/views/p2p_purpose4_reciprocate_attention_screen.dart
  packages/client/lib/app/modules/p2p_purpose_session/presentation/views/p2p_purpose5_collective_creation.dart
  packages/client/lib/app/modules/p2p_purpose_session/presentation/views/p2p_purpose6_schedule_next_meeting.dart
Due: run-the-unit-tests

shorebird config added
  packages/client/pubspec.yaml
  packages/client/shorebird.yaml
Due: run-the-unit-tests

add new functionality to quality of life
  packages/backend/dart/test/quality_of_life_scripts/quality_of_life_test.dart
Due: test-the-db-rules-and-edge-functions

more pc edits lol
  packages/backend/dart/test/quality_of_life_scripts/quality_of_life_test.dart
Due: test-the-db-rules-and-edge-functions

add shorebird release script
  packages/client/_scripts/ios/build_shorebird_ios_release.sh
Due: run-the-unit-tests

rm comments + shorebird additions
  .gitlab-ci.yml
Due: none

add shorebird to path in shell script
  .vscode/nokhte.code-workspace
  packages/client/_scripts/ios/build_shorebird_ios_release.sh
Due: run-the-unit-tests

add string comparison for cleanliness
  packages/client/lib/app/core/modules/collaborative_doc/data/sources/collaborative_doc_remote_source.dart
Due: run-the-unit-tests

easier prod testing change
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/queries.dart
Due: test-the-db-rules-and-edge-functions

added collaborator_two check
  packages/client/lib/app/core/modules/scheduling/data/sources/scheduling_remote_source.dart
Due: run-the-unit-tests

add patch ci/cd + shell script
  .gitlab-ci.yml
  packages/client/_scripts/ios/build_shorebird_ios_patch.sh
Due: run-the-unit-tests

typo fix in ci | path => patch |
  .gitlab-ci.yml
Due: none

rm shorebird "doesn't work with complex projects"
  .gitlab-ci.yml
  packages/client/_scripts/ios/build_shorebird_ios_patch.sh
  packages/client/_scripts/ios/build_shorebird_ios_release.sh
  packages/client/pubspec.yaml
  packages/client/shorebird.yaml
Due: run-the-unit-tests

add is_consecrated to existing_collaborations
  packages/backend/supabase/migrations/20231121134126_existing_collaboration_additions.sql
Due: test-the-db-rules-and-edge-functions

add query to consecrate the collaboration
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/queries.dart
Due: test-the-db-rules-and-edge-functions

add collision-proofing w/ consecrated collaborations
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/stream.dart
Due: test-the-db-rules-and-edge-functions

add domain for update_existing_collaborations
  packages/client/lib/app/core/modules/update_existing_collaborations/domain/contracts/update_existing_collaborations_contract.dart
  packages/client/lib/app/core/modules/update_existing_collaborations/domain/domain.dart
  packages/client/lib/app/core/modules/update_existing_collaborations/domain/entities/collaboration_activation_status_entity.dart
  packages/client/lib/app/core/modules/update_existing_collaborations/domain/entities/collaboration_consecration_status_entity.dart
  packages/client/lib/app/core/modules/update_existing_collaborations/domain/entities/entities.dart
  packages/client/lib/app/core/modules/update_existing_collaborations/domain/logic/consecrate_the_collaboration.dart
  packages/client/lib/app/core/modules/update_existing_collaborations/domain/logic/logic.dart
  packages/client/lib/app/core/modules/update_existing_collaborations/domain/logic/update_collaboration_activation_status.dart
Due: run-the-unit-tests

return List from update queries
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/queries.dart
Due: test-the-db-rules-and-edge-functions

update test to reflect change in create collaboration query
  packages/backend/dart/test/05_existing_collaborations_table_test.dart
Due: test-the-db-rules-and-edge-functions

update spelling with correction
  packages/client/lib/app/core/modules/update_existing_collaborations/domain/contracts/update_existing_collaborations_contract.dart
Due: run-the-unit-tests

update typos in logic methods
  packages/client/lib/app/core/modules/update_existing_collaborations/domain/logic/consecrate_the_collaboration.dart
  packages/client/lib/app/core/modules/update_existing_collaborations/domain/logic/update_collaboration_activation_status.dart
Due: run-the-unit-tests

barrel file for logic + entities
  packages/client/lib/app/core/modules/update_existing_collaborations/domain/domain.dart
  packages/client/lib/app/core/modules/update_existing_collaborations/domain/entities/entities.dart
Due: run-the-unit-tests

add default entities
  packages/client/lib/app/core/constants/entities.dart
Due: run-the-unit-tests

add main mobx classes
  packages/client/lib/app/core/modules/update_existing_collaborations/mobx/main/consecrate_the_collaboration_store.dart
  packages/client/lib/app/core/modules/update_existing_collaborations/mobx/main/consecrate_the_collaboration_store.g.dart
  packages/client/lib/app/core/modules/update_existing_collaborations/mobx/main/main.dart
  packages/client/lib/app/core/modules/update_existing_collaborations/mobx/main/update_collaboration_activation_status_store.dart
  packages/client/lib/app/core/modules/update_existing_collaborations/mobx/main/update_collaboration_activation_status_store.g.dart
Due: run-the-unit-tests

add coordinator
  packages/client/lib/app/core/modules/update_existing_collaborations/mobx/coordinator/update_existing_collaborations_coordinator.dart
  packages/client/lib/app/core/modules/update_existing_collaborations/mobx/coordinator/update_existing_collaborations_coordinator.g.dart
  packages/client/lib/app/core/modules/update_existing_collaborations/mobx/mobx.dart
Due: run-the-unit-tests

inject & add methods into purpose coordinators
  packages/client/lib/app/modules/p2p_purpose_session/p2p_purpose_session_module.dart
  packages/client/lib/app/modules/p2p_purpose_session/presentation/mobx/coordinators/p2p_purpose_phase5_coordinator_store.dart
  packages/client/lib/app/modules/p2p_purpose_session/presentation/mobx/coordinators/p2p_purpose_phase6_coordinator_store.dart
Due: run-the-unit-tests

add update_existing_collaborations_module
  packages/client/lib/app/core/modules/update_existing_collaborations/update_existing_collaborations_module.dart
Due: run-the-unit-tests

add models
  packages/client/lib/app/core/modules/update_existing_collaborations/data/models/collaboration_activation_status_model.dart
  packages/client/lib/app/core/modules/update_existing_collaborations/data/models/collaboration_consecration_status_model.dart
  packages/client/lib/app/core/modules/update_existing_collaborations/data/models/models.dart
Due: run-the-unit-tests

add remote source
  packages/client/lib/app/core/modules/update_existing_collaborations/data/sources/update_existing_collaborations_remote_source.dart
Due: run-the-unit-tests

add contract impl
  packages/client/lib/app/core/modules/update_existing_collaborations/data/contracts/update_existing_collaborations_contract_impl.dart
Due: run-the-unit-tests

add data barrel
  packages/client/lib/app/core/modules/update_existing_collaborations/data/data.dart
Due: run-the-unit-tests

add extra collaborator_entry rows
  packages/backend/supabase/migrations/20231121134126_existing_collaboration_additions.sql
Due: test-the-db-rules-and-edge-functions

extrapolate common logic into encapsulated logic
  packages/backend/dart/lib/tables/_real_time_enabled/shared/collaborative_queries.dart
Due: test-the-db-rules-and-edge-functions

Path conditions:
  test-the-db-rules-and-edge-functions: any of: packages/backend/**/*
  run-the-unit-tests: any of: packages/client/**/*
