Repository Nokhte/nokhte: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-the-db-rules-and-edge-functions, run-the-unit-tests

Path conditions:
  test-the-db-rules-and-edge-functions: any of: packages/backend/**/*
  run-the-unit-tests: any of: packages/client/**/*

fromat: nokhte_session_logic_coordinator
  packages/client/lib/app/modules/nokhte_session/presentation/mobx/coordinators/logic/nokhte_session_logic_coordinator.dart
Due: run-the-unit-tests

fix: non-seamless transition from home to nokhte session
  packages/client/lib/app/modules/nokhte_session/presentation/mobx/coordinators/phase1/nokhte_session_phase1_coordinator.dart
  packages/client/lib/app/modules/nokhte_session/presentation/mobx/coordinators/phase1/nokhte_session_phase1_widgets_coordinator.dart
  packages/client/lib/app/modules/nokhte_session/presentation/mobx/coordinators/phase1/nokhte_session_phase1_widgets_coordinator.g.dart
Due: run-the-unit-tests

test: update home_screen_widgets_coordinator_test
  packages/client/test/app/modules/home/presentation/mobx/coordinator/home_screen_widgets_coordinator_test.dart
Due: run-the-unit-tests

remove: extraneous print statement from phase1 widgets coordinator
  packages/client/lib/app/modules/nokhte_session/presentation/mobx/coordinators/phase1/nokhte_session_phase1_widgets_coordinator.dart
Due: run-the-unit-tests

chore: bump ios version
  packages/client/ios/fastlane/report.xml
  packages/client/pubspec.yaml
  packages/client/version.yml
Due: run-the-unit-tests

fix: gesture_cross behavior on home screen for all cases
  packages/client/lib/app/modules/home/presentation/mobx/coordinators/home_screen_coordinator.dart
  packages/client/lib/app/modules/home/presentation/mobx/coordinators/home_screen_widgets_coordinator.dart
Due: run-the-unit-tests

add: make the exit from nokhte seession even more clean
  packages/client/lib/app/modules/nokhte_session/presentation/mobx/coordinators/phase1/nokhte_session_phase1_widgets_coordinator.dart
Due: run-the-unit-tests

chore: bump ios version number
  packages/client/ios/fastlane/report.xml
  packages/client/pubspec.yaml
  packages/client/version.yml
Due: run-the-unit-tests

fix: deleteUnconsecrated interference in home screen
  packages/client/lib/app/modules/home/presentation/mobx/coordinators/home_screen_coordinator.dart
Due: run-the-unit-tests

add: delete_active_nokhte_session logic
  packages/client/lib/app/modules/nokhte_session/domain/logic/delete_active_nokhte_session.dart
Due: run-the-unit-tests

add: deleteActiveNokhteSession to nokthe_session contract & impl
  packages/client/lib/app/modules/nokhte_session/data/contract/nokhte_session_contract_impl.dart
  packages/client/lib/app/modules/nokhte_session/domain/contract/nokhte_session_contract.dart
Due: run-the-unit-tests

add: deleteTheSession to nokhte_session_logic_coordinator
  packages/client/lib/app/modules/nokhte_session/presentation/mobx/coordinators/logic/nokhte_session_logic_coordinator.dart
Due: run-the-unit-tests

add: deleteTheSession call to nokhte_session_phase1_coordinator
  packages/client/lib/app/modules/nokhte_session/presentation/mobx/coordinators/phase1/nokhte_session_phase1_coordinator.dart
Due: run-the-unit-tests

add: deleteActiveNokhteSession to nokhte_session_remote_source
  packages/client/lib/app/modules/nokhte_session/data/source/nokhte_session_remote_source.dart
Due: run-the-unit-tests

add: delete_active_nokhte_session logic export
  packages/client/lib/app/modules/nokhte_session/domain/logic/logic.dart
Due: run-the-unit-tests

add: deleteActiveNokhteSession binds to nokhte_session_module
  packages/client/lib/app/modules/nokhte_session/nokhte_session_module.dart
Due: run-the-unit-tests

remove: delete_active_nokhte_session stack
  packages/client/lib/app/modules/nokhte_session/data/contract/nokhte_session_contract_impl.dart
  packages/client/lib/app/modules/nokhte_session/data/source/nokhte_session_remote_source.dart
  packages/client/lib/app/modules/nokhte_session/domain/contract/nokhte_session_contract.dart
  packages/client/lib/app/modules/nokhte_session/domain/logic/delete_active_nokhte_session.dart
  packages/client/lib/app/modules/nokhte_session/domain/logic/logic.dart
  packages/client/lib/app/modules/nokhte_session/nokhte_session_module.dart
  packages/client/lib/app/modules/nokhte_session/presentation/mobx/coordinators/logic/nokhte_session_logic_coordinator.dart
  packages/client/lib/app/modules/nokhte_session/presentation/mobx/coordinators/phase1/nokhte_session_phase1_coordinator.dart
Due: run-the-unit-tests

fix: initial double blur problem in collaborator_presencee
  packages/client/lib/app/core/widgets/collaborator_presence_incidents_overlay/stack/presentation/mobx/collaborator_presence_incidents_overlay_store.dart
Due: run-the-unit-tests

feat: extend messages_data length for phase 1 nokhte session
  packages/client/lib/app/core/widgets/smart_text/stack/constants/data/messages_data.dart
Due: run-the-unit-tests

fix: make phase 1 waiting loop infinitely
  packages/client/lib/app/modules/nokhte_session/presentation/mobx/coordinators/phase1/nokhte_session_phase1_widgets_coordinator.dart
Due: run-the-unit-tests

chore: bump ios to new version
  packages/client/ios/fastlane/report.xml
  packages/client/pubspec.yaml
  packages/client/version.yml
Due: run-the-unit-tests

add .g.dart && .mocks.dart (to .gitignore)
  .gitignore
Due: none

add: build_runner to ci/cd so we can remove codegen from git
  .github/workflows/client-staging-ios-deploy.yml
  .github/workflows/client-unit-tests.yml
Due: none

remove i1 & i2 client from git
  .gitignore
Due: none

remove: nokhte_core (never really used not that much shared logic)
  packages/core/.gitignore
  packages/core/CHANGELOG.md
  packages/core/README.md
  packages/core/analysis_options.yaml
  packages/core/lib/custom_control_structures.dart
  packages/core/lib/custom_control_structures/custom_control_structures.dart
  packages/core/lib/custom_control_structures/duration_utils.dart
  packages/core/lib/custom_control_structures/nested_loops.dart
  packages/core/lib/custom_control_structures/string_comparisons.dart
  packages/core/lib/types/collaborator_numbers.dart
  packages/core/lib/types/types.dart
  packages/core/melos_nokhte_core.iml
  packages/core/pubspec.lock
  packages/core/pubspec.yaml
Due: none

remove: experimental_storage_utilities (was broken & never used)
  packages/backend/dart/lib/storage/buckets/utilities/experimental_storage_utilities.dart
Due: test-the-db-rules-and-edge-functions

remove: nokhte_core from client & backend pubspecs
  packages/backend/dart/pubspec.yaml
  packages/client/pubspec.yaml
Due: test-the-db-rules-and-edge-functions, run-the-unit-tests

remove: core from melos.yaml
  melos.yaml
Due: none

remove: pubspec_overrides from client (largely un-necessary)
  packages/backend/dart/pubspec_overrides.yaml
Due: test-the-db-rules-and-edge-functions

move: add_name_to_database to auth module & shorten name to add_name
  packages/client/lib/app/modules/authentication/domain/logic/add_name.dart
  packages/client/lib/app/modules/home/domain/logic/add_name_to_database.dart
Due: run-the-unit-tests

remove: add_name_to_database_store from home_module
  packages/client/lib/app/modules/home/presentation/mobx/main/add_name_to_database_store.dart
Due: run-the-unit-tests

test: remove add_name_to_database_test
  packages/client/test/app/modules/home/domain/logic/add_name_to_database_test.dart
Due: run-the-unit-tests

remove: add_name_to_database store & logic from home exports
  packages/client/lib/app/modules/home/domain/logic/logic.dart
  packages/client/lib/app/modules/home/presentation/mobx/main/main.dart
Due: run-the-unit-tests

remove: extraneous import from home_contract
  packages/client/lib/app/modules/home/domain/contracts/home_contract.dart
Due: run-the-unit-tests

remove: AddNameToDatabaseStore from HomeScreenCoordinator
  packages/client/lib/app/modules/home/presentation/mobx/coordinators/home_screen_coordinator.dart
Due: run-the-unit-tests

remove: addNameToDatabase from home_contract_impl
  packages/client/lib/app/modules/home/data/contracts/home_contract_impl.dart
Due: run-the-unit-tests

move: navigation when deep link is opened on home to beach wave reactor
  packages/client/lib/app/modules/home/presentation/mobx/coordinators/home_screen_widgets_coordinator.dart
Due: run-the-unit-tests
