Repository Nokhte/nokhte: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-the-db-rules-and-edge-functions, run-the-unit-tests

Path conditions:
  test-the-db-rules-and-edge-functions: any of: packages/backend/**/*
  run-the-unit-tests: any of: packages/client/**/*

2️⃣🏷️ add collaboration_session_metadata fields
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/types/collaboration_session_metadata.dart
Due: test-the-db-rules-and-edge-functions

2️⃣🧮add meetingId & meeting token to streams
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/stream.dart
Due: test-the-db-rules-and-edge-functions

2️⃣🧮 add meeting_id_and_token_update_status_entity & rm the agora ones
  packages/client/lib/app/core/modules/collaborator_presence/domain/entities/meeting_id_and_token_update_status_entity.dart
  packages/client/lib/app/core/modules/voice_call/domain/entities/agora_call_token_entity.dart
  packages/client/lib/app/core/modules/voice_call/domain/entities/call_status_entity.dart
  packages/client/lib/app/core/modules/voice_call/domain/entities/channel_id_entity.dart
  packages/client/lib/app/core/modules/voice_call/domain/entities/entities.dart
  packages/client/lib/app/core/modules/voice_call/domain/entities/local_audio_stream_status_entity.dart
Due: run-the-unit-tests

2️⃣🧮 add room_information_entity
  packages/client/lib/app/core/modules/voice_call/domain/entities/room_information_entity.dart
Due: run-the-unit-tests

2️⃣🧮 add room_information_model & remove the agora models
  packages/client/lib/app/core/modules/voice_call/data/models/agora_call_token_model.dart
  packages/client/lib/app/core/modules/voice_call/data/models/call_status_model.dart
  packages/client/lib/app/core/modules/voice_call/data/models/channel_id_model.dart
  packages/client/lib/app/core/modules/voice_call/data/models/local_audio_stream_status_model.dart
  packages/client/lib/app/core/modules/voice_call/data/models/models.dart
  packages/client/lib/app/core/modules/voice_call/data/models/room_information_model.dart
Due: run-the-unit-tests

2️⃣🧮 add get_room_information & remove the rest of the agora logic
  packages/client/lib/app/core/modules/voice_call/domain/logic/get_agora_token.dart
  packages/client/lib/app/core/modules/voice_call/domain/logic/get_channel_id.dart
  packages/client/lib/app/core/modules/voice_call/domain/logic/get_room_information.dart
  packages/client/lib/app/core/modules/voice_call/domain/logic/init_agora_sdk.dart
  packages/client/lib/app/core/modules/voice_call/domain/logic/join_call.dart
  packages/client/lib/app/core/modules/voice_call/domain/logic/leave_call.dart
  packages/client/lib/app/core/modules/voice_call/domain/logic/logic.dart
  packages/client/lib/app/core/modules/voice_call/domain/logic/mute_local_audio.dart
  packages/client/lib/app/core/modules/voice_call/domain/logic/unmute_local_audio.dart
Due: run-the-unit-tests

2️⃣🧮 add new voice_call_coordinator & remove the rest
  packages/client/lib/app/core/modules/voice_call/mobx/coordinator/voice_call_coordinator.dart
  packages/client/lib/app/core/modules/voice_call/mobx/coordinator/voice_call_coordinator.g.dart
  packages/client/lib/app/core/modules/voice_call/mobx/main/get_agora_token_store.dart
  packages/client/lib/app/core/modules/voice_call/mobx/main/get_agora_token_store.g.dart
  packages/client/lib/app/core/modules/voice_call/mobx/main/get_channel_id_store.dart
  packages/client/lib/app/core/modules/voice_call/mobx/main/get_channel_id_store.g.dart
  packages/client/lib/app/core/modules/voice_call/mobx/main/init_agora_sdk_store.dart
  packages/client/lib/app/core/modules/voice_call/mobx/main/init_agora_sdk_store.g.dart
  packages/client/lib/app/core/modules/voice_call/mobx/main/main.dart
  packages/client/lib/app/core/modules/voice_call/mobx/main/voice_call_actions_store.dart
  packages/client/lib/app/core/modules/voice_call/mobx/main/voice_call_actions_store.g.dart
  packages/client/lib/app/core/modules/voice_call/mobx/main/voice_call_status_store.dart
  packages/client/lib/app/core/modules/voice_call/mobx/main/voice_call_status_store.g.dart
  packages/client/lib/app/core/modules/voice_call/mobx/voice_call_coordinator.dart
  packages/client/lib/app/core/modules/voice_call/mobx/voice_call_coordinator.g.dart
Due: run-the-unit-tests

2️⃣🧮 remove agora methods from the contract interface & impl
  packages/client/lib/app/core/modules/voice_call/data/contracts/voice_call_contract_impl.dart
  packages/client/lib/app/core/modules/voice_call/domain/contracts/voice_call_contract.dart
Due: run-the-unit-tests

2️⃣🧮 update voice_call_remote_source to complete the agora migration
  packages/client/lib/app/core/modules/voice_call/data/sources/voice_call_remote_source.dart
Due: run-the-unit-tests

2️⃣🛢️ voice_call exports
  packages/client/lib/app/core/modules/voice_call/mobx/mobx.dart
Due: run-the-unit-tests

2️⃣🧮 update voice_call_module binds
  packages/client/lib/app/core/modules/voice_call/voice_call_module.dart
Due: run-the-unit-tests

2️⃣🧮 add update_meeting_id_and_token method
  packages/client/lib/app/core/modules/collaborator_presence/domain/contracts/collaborator_presence_contract.dart
  packages/client/lib/app/core/modules/collaborator_presence/domain/logic/update_meeting_id_and_token.dart
Due: run-the-unit-tests

2️⃣🧮 add update_meeting_id_and_token_store
  packages/client/lib/app/core/modules/collaborator_presence/mobx/main/update_meeting_id_and_token_store.dart
  packages/client/lib/app/core/modules/collaborator_presence/mobx/main/update_meeting_id_and_token_store.g.dart
Due: run-the-unit-tests

2️⃣🧮 add meeting_id_and_token_update_status_model
  packages/client/lib/app/core/modules/collaborator_presence/data/models/meeting_id_and_token_update_status_model.dart
Due: run-the-unit-tests

2️⃣🧮 stub old client
  packages/old_client/lib/app/core/modules/voice_call/data/sources/voice_call_remote_source.dart
Due: none

2️⃣🧮 collaborator_presence exports
  packages/client/lib/app/core/modules/collaborator_presence/data/models/models.dart
  packages/client/lib/app/core/modules/collaborator_presence/domain/entities/entities.dart
  packages/client/lib/app/core/modules/collaborator_presence/domain/logic/logic.dart
  packages/client/lib/app/core/modules/collaborator_presence/mobx/main/main.dart
Due: run-the-unit-tests

2️⃣🧮 add updateMeetingIdAndToken to contract impl
  packages/client/lib/app/core/modules/collaborator_presence/data/contracts/collaborator_presence_contract_impl.dart
Due: run-the-unit-tests

2️⃣🧮 add updateMeetingIdAndToken to remote_source
  packages/client/lib/app/core/modules/collaborator_presence/data/sources/collaborator_presence_remote_source.dart
Due: run-the-unit-tests

2️⃣🧮 update query name to include token
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/queries.dart
Due: test-the-db-rules-and-edge-functions

2️⃣✅ 04_existing_collaborations_table_test
  packages/backend/dart/test/04_existing_collaborations_table_test.dart
Due: test-the-db-rules-and-edge-functions

2️⃣🧮 update get_session_metadata_store to include token & meeting id
  packages/client/lib/app/core/modules/collaborator_presence/mobx/main/get_session_metadata_store.dart
  packages/client/lib/app/core/modules/collaborator_presence/mobx/main/get_session_metadata_store.g.dart
Due: run-the-unit-tests

2️⃣🧮 add update meeting id to presence coordinator
  packages/client/lib/app/core/modules/collaborator_presence/mobx/coordinators/collaborator_presence_coordinator.dart
Due: run-the-unit-tests

2️⃣🧮 update phase_one_coordinator for new voice_call impl
  packages/client/lib/app/modules/purpose_session/presentation/mobx/coordinators/phase_one/purpose_session_phase_one_coordinator.dart
Due: run-the-unit-tests

2️⃣🧮 update collaborator_presence_module binds
  packages/client/lib/app/core/modules/collaborator_presence/collaborator_presence_module.dart
Due: run-the-unit-tests

➖ agora_rtc_engine
  packages/client/pubspec.yaml
Due: run-the-unit-tests

2️⃣🐛 fix concurrent join bug by having it done in phase zero
  packages/client/lib/app/modules/purpose_session/presentation/mobx/coordinators/phase_one/purpose_session_phase_one_coordinator.dart
  packages/client/lib/app/modules/purpose_session/presentation/mobx/coordinators/phase_zero/purpose_session_phase_zero_coordinator.dart
  packages/client/lib/app/modules/purpose_session/presentation/mobx/coordinators/phase_zero/purpose_session_phase_zero_coordinator.g.dart
  packages/client/lib/app/modules/purpose_session/purpose_session_module.dart
Due: run-the-unit-tests

2️⃣🐛 fix concurrency bug by allowing them to mark each other as joined
  packages/client/lib/app/modules/purpose_session/presentation/mobx/coordinators/phase_one/purpose_session_phase_one_coordinator.dart
Due: run-the-unit-tests

1️⃣🗃️ add migration file back for continuity
  packages/backend/supabase/migrations/20240117141937_agora_migration_updates.sql
Due: test-the-db-rules-and-edge-functions

Revert "1️⃣🗃️ add migration file back for continuity"
  packages/backend/supabase/migrations/20240117141937_agora_migration_updates.sql
Due: test-the-db-rules-and-edge-functions

Revert "2️⃣🐛 fix concurrency bug by allowing them to mark each other as joined"
  packages/backend/supabase/migrations/20240117141937_agora_migration_updates.sql
  packages/client/lib/app/modules/purpose_session/presentation/mobx/coordinators/phase_one/purpose_session_phase_one_coordinator.dart
Due: test-the-db-rules-and-edge-functions, run-the-unit-tests

Revert "2️⃣🐛 fix concurrent join bug by having it done in phase zero"
  packages/client/lib/app/modules/purpose_session/presentation/mobx/coordinators/phase_one/purpose_session_phase_one_coordinator.dart
  packages/client/lib/app/modules/purpose_session/presentation/mobx/coordinators/phase_zero/purpose_session_phase_zero_coordinator.dart
  packages/client/lib/app/modules/purpose_session/presentation/mobx/coordinators/phase_zero/purpose_session_phase_zero_coordinator.g.dart
  packages/client/lib/app/modules/purpose_session/purpose_session_module.dart
Due: run-the-unit-tests

Revert "➖ agora_rtc_engine"
  packages/client/pubspec.yaml
Due: run-the-unit-tests

Revert "2️⃣🧮 update collaborator_presence_module binds"
  packages/client/lib/app/core/modules/collaborator_presence/collaborator_presence_module.dart
Due: run-the-unit-tests

Revert "2️⃣🧮 update phase_one_coordinator for new voice_call impl"
  packages/client/lib/app/modules/purpose_session/presentation/mobx/coordinators/phase_one/purpose_session_phase_one_coordinator.dart
Due: run-the-unit-tests

Revert "2️⃣🧮 add update meeting id to presence coordinator"
  packages/client/lib/app/core/modules/collaborator_presence/mobx/coordinators/collaborator_presence_coordinator.dart
Due: run-the-unit-tests

Revert "2️⃣🧮 update get_session_metadata_store to include token & meeting id"
  packages/client/lib/app/core/modules/collaborator_presence/mobx/main/get_session_metadata_store.dart
  packages/client/lib/app/core/modules/collaborator_presence/mobx/main/get_session_metadata_store.g.dart
Due: run-the-unit-tests

Revert "2️⃣✅ 04_existing_collaborations_table_test"
  packages/backend/dart/test/04_existing_collaborations_table_test.dart
Due: test-the-db-rules-and-edge-functions

Revert "2️⃣🧮 update query name to include token"
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/queries.dart
Due: test-the-db-rules-and-edge-functions

Revert "2️⃣🧮 add updateMeetingIdAndToken to remote_source"
  packages/client/lib/app/core/modules/collaborator_presence/data/sources/collaborator_presence_remote_source.dart
Due: run-the-unit-tests

Revert "2️⃣🧮 add updateMeetingIdAndToken to contract impl"
  packages/client/lib/app/core/modules/collaborator_presence/data/contracts/collaborator_presence_contract_impl.dart
Due: run-the-unit-tests
