Repository Nokhte/nokhte: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-the-db-rules-and-edge-functions, run-the-unit-tests

Path conditions:
  test-the-db-rules-and-edge-functions: any of: packages/backend/**/*
  run-the-unit-tests: any of: packages/client/**/*

add: update binds in login_screen_coordinator_test
  packages/client/test/app/modules/authentication/presentation/mobx/coordinators/login_screen_coordinator_test.dart
Due: run-the-unit-tests

test: update binds in collaboration_home_coordinator_test
  packages/client/test/app/modules/collaboration/presentation/mobx/coordinators/collaboration_home/collaboration_home_coordinator_test.dart
Due: run-the-unit-tests

remove: local_supabase_primala code workspace
  packages/backend/local_supabase_primala.code-workspace
Due: test-the-db-rules-and-edge-functions

add: suspended_at_ocean_dive_to_vibrant_blue_gradient_movie
  packages/client/lib/app/core/widgets/beach_widgets/beach_waves/stack/presentation/mobx/movie_stores/suspended_at_ocean_dive_to_vibrant_blue_gradient/suspended_at_ocean_dive_to_vibrant_blue_gradient_movie.dart
Due: run-the-unit-tests

add: suspended_at_ocean_dive_to_vibrant_blue_gradient store & exports
  packages/client/lib/app/core/widgets/beach_widgets/beach_waves/stack/presentation/mobx/movie_stores/suspended_at_ocean_dive_to_vibrant_blue_gradient/suspended_at_ocean_dive_to_vibrant_blue_gradient.dart
  packages/client/lib/app/core/widgets/beach_widgets/beach_waves/stack/presentation/mobx/movie_stores/suspended_at_ocean_dive_to_vibrant_blue_gradient/suspended_at_ocean_dive_to_vibrant_blue_gradient_movie_store.dart
Due: run-the-unit-tests

add: suspendedAtOceanDiveWaterToVibrantBlueGradient to beach_waves_store
  packages/client/lib/app/core/widgets/beach_widgets/beach_waves/stack/presentation/mobx/beach_waves_store.dart
  packages/client/lib/app/core/widgets/beach_widgets/beach_waves/stack/presentation/mobx/movie_stores/movie_stores.dart
  packages/client/lib/app/core/widgets/beach_widgets/shared/types/beach_wave_movie_modes.dart
Due: run-the-unit-tests

refactor: collaboration_home to use oceanDive to vibrantBlue movie
  packages/client/lib/app/modules/collaboration/presentation/mobx/coordinators/collaboration_home/collaboration_home_screen_widgets_coordinator.dart
Due: run-the-unit-tests

add: posthog api key to backend unit testing workflow
  .github/workflows/backend-unit-tests.yml
Due: none

test: 03_synchronous_search_test (make nokthe invitation more exhaustive)
  packages/backend/dart/test/03_synchronous_search_test.dart
Due: test-the-db-rules-and-edge-functions

fix: collaboration_home_screen_widgets_coordinator_test
  packages/client/test/app/modules/collaboration/presentation/mobx/coordinators/collaboration_home/collaboration_home_screen_widgets_coordinator_test.dart
Due: run-the-unit-tests

chore: bump ios version to 1.0.0 🥳
  packages/client/ios/fastlane/report.xml
  packages/client/pubspec.yaml
  packages/client/version.yml
Due: run-the-unit-tests

fix: typo in ios fastfile
  packages/client/ios/fastlane/Fastfile
Due: run-the-unit-tests

refactor: use import map on edge function for posthog-node
  packages/backend/supabase/functions/import_map.json
  packages/backend/supabase/functions/posthog/constants.ts
Due: test-the-db-rules-and-edge-functions

refactor: take off posthog version in import_map
  packages/backend/supabase/functions/import_map.json
Due: test-the-db-rules-and-edge-functions

fix: downgrade posthog to fix axios esmodule download errors
  packages/backend/supabase/functions/import_map.json
Due: test-the-db-rules-and-edge-functions

fix: slight lag in production navigation from collaboration => home
  packages/client/lib/app/modules/collaboration/presentation/mobx/coordinators/collaboration_home/collaboration_home_screen_coordinator.dart
  packages/client/lib/app/modules/collaboration/presentation/mobx/coordinators/collaboration_home/collaboration_home_screen_widgets_coordinator.dart
Due: run-the-unit-tests

chore: bump ios version number to 1.0.1
  packages/client/ios/fastlane/README.md
  packages/client/ios/fastlane/report.xml
  packages/client/pubspec.yaml
  packages/client/version.yml
Due: run-the-unit-tests

remove posthog from backed (buggy && cryptic logs)
  packages/backend/supabase/functions/import_map.json
  packages/backend/supabase/functions/initiate-collaborator-search/update_authorized_viewers.ts
  packages/backend/supabase/functions/posthog/capture/new_nokhte_session_collaborator.ts
  packages/backend/supabase/functions/posthog/constants.ts
Due: test-the-db-rules-and-edge-functions

chore: bump CFBundleVersion for production release
  packages/client/ios/Runner/Info.plist
Due: run-the-unit-tests

fix: bug in deployment (not picking the right env variables)
  .github/workflows/client-production-ios-deploy.yml
Due: none

chore: bump new ios version
  packages/client/ios/fastlane/report.xml
  packages/client/pubspec.yaml
  packages/client/version.yml
Due: run-the-unit-tests

try: staging nokhte bundle id in fastfile
  packages/client/ios/fastlane/Fastfile
Due: run-the-unit-tests

add: working supabase & broken branch impl
  packages/backend/supabase/config.toml
  packages/client/ios/Runner/Info.plist
  packages/client/lib/app/modules/authentication/data/sources/auth_remote_source.dart
  packages/client/scripts/setup_prod_build.zsh
Due: test-the-db-rules-and-edge-functions, run-the-unit-tests

add: working staging supabase & branch impl
  packages/backend/supabase/config.toml
  packages/client/ios/Runner.xcodeproj/project.pbxproj
  packages/client/ios/Runner/Info.plist
  packages/client/ios/fastlane/Appfile
  packages/client/ios/fastlane/Matchfile
  packages/client/scripts/setup_prod_build.zsh
Due: test-the-db-rules-and-edge-functions, run-the-unit-tests

fix: setup_prod_build shell script
  packages/client/scripts/setup_prod_build.zsh
Due: run-the-unit-tests

add: adjust naming scheme for staging & for prod script
  packages/client/ios/Runner.xcodeproj/project.pbxproj
  packages/client/scripts/setup_prod_build.zsh
Due: run-the-unit-tests

refactor: ios deployment workflows to work w/ separate bundle ids
  .github/workflows/client-production-ios-deploy.yml
  .github/workflows/client-staging-ios-deploy.yml
Due: none

add: ability to use test branch key in staging setup
  packages/client/lib/main.dart
Due: run-the-unit-tests

deps: degrade google_fonts b/c of ci/cd issues
  packages/client/pubspec.yaml
Due: run-the-unit-tests

add: staging password to staging workflow
  .github/workflows/client-staging-ios-deploy.yml
Due: none

fix: associated domains
  packages/client/ios/Runner/Info.plist
Due: run-the-unit-tests

chore: bump ios version
  packages/client/ios/fastlane/report.xml
  packages/client/pubspec.yaml
  packages/client/version.yml
Due: run-the-unit-tests

remove: print statement from main
  packages/client/lib/main.dart
Due: run-the-unit-tests

change: default app name to Nokhte Staging
  packages/client/ios/Runner/Info.plist
Due: run-the-unit-tests

change: branch keys back to nokhte project
  packages/client/ios/Runner/Info.plist
Due: run-the-unit-tests

add: nokhte name change to setup script
  packages/client/scripts/setup_prod_build.zsh
Due: run-the-unit-tests

chore: bump ios version number
  packages/client/ios/fastlane/report.xml
  packages/client/pubspec.yaml
  packages/client/version.yml
Due: run-the-unit-tests

try: some experiments w/ setup prod build.sh
  packages/client/scripts/setup_prod_build.sh
Due: run-the-unit-tests

modify github workflow to reflect new extension ending
  .github/workflows/client-production-ios-deploy.yml
Due: none

add: provision profile changes to setup_prod_build
  packages/client/scripts/setup_prod_build.sh
Due: run-the-unit-tests
