Repository Nokhte/nokhte: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-the-db-rules-and-edge-functions, run-the-unit-tests

Path conditions:
  test-the-db-rules-and-edge-functions: any of: packages/backend/**/*
  run-the-unit-tests: any of: packages/client/**/*

Revert "2️⃣🧮 collaborator_presence exports"
  packages/client/lib/app/core/modules/collaborator_presence/data/models/models.dart
  packages/client/lib/app/core/modules/collaborator_presence/domain/entities/entities.dart
  packages/client/lib/app/core/modules/collaborator_presence/domain/logic/logic.dart
  packages/client/lib/app/core/modules/collaborator_presence/mobx/main/main.dart
Due: run-the-unit-tests

Revert "2️⃣🧮 stub old client"
  packages/old_client/lib/app/core/modules/voice_call/data/sources/voice_call_remote_source.dart
Due: none

Revert "2️⃣🧮 add meeting_id_and_token_update_status_model"
  packages/client/lib/app/core/modules/collaborator_presence/data/models/meeting_id_and_token_update_status_model.dart
Due: run-the-unit-tests

Revert "2️⃣🧮 add update_meeting_id_and_token method"
  packages/client/lib/app/core/modules/collaborator_presence/domain/contracts/collaborator_presence_contract.dart
  packages/client/lib/app/core/modules/collaborator_presence/domain/logic/update_meeting_id_and_token.dart
Due: run-the-unit-tests

Revert "2️⃣🧮 add update_meeting_id_and_token_store"
  packages/client/lib/app/core/modules/collaborator_presence/mobx/main/update_meeting_id_and_token_store.dart
  packages/client/lib/app/core/modules/collaborator_presence/mobx/main/update_meeting_id_and_token_store.g.dart
Due: run-the-unit-tests

Revert "2️⃣🧮 update voice_call_module binds"
  packages/client/lib/app/core/modules/voice_call/voice_call_module.dart
Due: run-the-unit-tests

Revert "2️⃣🛢️ voice_call exports"
  packages/client/lib/app/core/modules/voice_call/mobx/mobx.dart
Due: run-the-unit-tests

Revert "2️⃣🧮 update voice_call_remote_source to complete the agora migration"
  packages/client/lib/app/core/modules/voice_call/data/sources/voice_call_remote_source.dart
Due: run-the-unit-tests

Revert "2️⃣🧮 remove agora methods from the contract interface & impl"
  packages/client/lib/app/core/modules/voice_call/data/contracts/voice_call_contract_impl.dart
  packages/client/lib/app/core/modules/voice_call/domain/contracts/voice_call_contract.dart
Due: run-the-unit-tests

Revert "2️⃣🧮 add new voice_call_coordinator & remove the rest"
  packages/client/lib/app/core/modules/voice_call/mobx/coordinator/voice_call_coordinator.dart
  packages/client/lib/app/core/modules/voice_call/mobx/coordinator/voice_call_coordinator.g.dart
  packages/client/lib/app/core/modules/voice_call/mobx/main/get_agora_token_store.dart
  packages/client/lib/app/core/modules/voice_call/mobx/main/get_agora_token_store.g.dart
  packages/client/lib/app/core/modules/voice_call/mobx/main/get_channel_id_store.dart
  packages/client/lib/app/core/modules/voice_call/mobx/main/get_channel_id_store.g.dart
  packages/client/lib/app/core/modules/voice_call/mobx/main/init_agora_sdk_store.dart
  packages/client/lib/app/core/modules/voice_call/mobx/main/init_agora_sdk_store.g.dart
  packages/client/lib/app/core/modules/voice_call/mobx/main/main.dart
  packages/client/lib/app/core/modules/voice_call/mobx/main/voice_call_actions_store.dart
  packages/client/lib/app/core/modules/voice_call/mobx/main/voice_call_actions_store.g.dart
  packages/client/lib/app/core/modules/voice_call/mobx/main/voice_call_status_store.dart
  packages/client/lib/app/core/modules/voice_call/mobx/main/voice_call_status_store.g.dart
  packages/client/lib/app/core/modules/voice_call/mobx/voice_call_coordinator.dart
  packages/client/lib/app/core/modules/voice_call/mobx/voice_call_coordinator.g.dart
Due: run-the-unit-tests

Revert "2️⃣🧮 add get_room_information & remove the rest of the agora logic"
  packages/client/lib/app/core/modules/voice_call/domain/logic/get_agora_token.dart
  packages/client/lib/app/core/modules/voice_call/domain/logic/get_channel_id.dart
  packages/client/lib/app/core/modules/voice_call/domain/logic/get_room_information.dart
  packages/client/lib/app/core/modules/voice_call/domain/logic/init_agora_sdk.dart
  packages/client/lib/app/core/modules/voice_call/domain/logic/join_call.dart
  packages/client/lib/app/core/modules/voice_call/domain/logic/leave_call.dart
  packages/client/lib/app/core/modules/voice_call/domain/logic/logic.dart
  packages/client/lib/app/core/modules/voice_call/domain/logic/mute_local_audio.dart
  packages/client/lib/app/core/modules/voice_call/domain/logic/unmute_local_audio.dart
Due: run-the-unit-tests

Revert "2️⃣🧮 add room_information_model & remove the agora models"
  packages/client/lib/app/core/modules/voice_call/data/models/agora_call_token_model.dart
  packages/client/lib/app/core/modules/voice_call/data/models/call_status_model.dart
  packages/client/lib/app/core/modules/voice_call/data/models/channel_id_model.dart
  packages/client/lib/app/core/modules/voice_call/data/models/local_audio_stream_status_model.dart
  packages/client/lib/app/core/modules/voice_call/data/models/models.dart
  packages/client/lib/app/core/modules/voice_call/data/models/room_information_model.dart
Due: run-the-unit-tests

Revert "2️⃣🧮 add room_information_entity"
  packages/client/lib/app/core/modules/voice_call/domain/entities/room_information_entity.dart
Due: run-the-unit-tests

Revert "2️⃣🧮 add meeting_id_and_token_update_status_entity & rm the agora ones"
  packages/client/lib/app/core/modules/collaborator_presence/domain/entities/meeting_id_and_token_update_status_entity.dart
  packages/client/lib/app/core/modules/voice_call/domain/entities/agora_call_token_entity.dart
  packages/client/lib/app/core/modules/voice_call/domain/entities/call_status_entity.dart
  packages/client/lib/app/core/modules/voice_call/domain/entities/channel_id_entity.dart
  packages/client/lib/app/core/modules/voice_call/domain/entities/entities.dart
  packages/client/lib/app/core/modules/voice_call/domain/entities/local_audio_stream_status_entity.dart
Due: run-the-unit-tests

Revert "2️⃣🧮add meetingId & meeting token to streams"
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/stream.dart
Due: test-the-db-rules-and-edge-functions

Revert "2️⃣🏷️ add collaboration_session_metadata fields"
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/types/collaboration_session_metadata.dart
Due: test-the-db-rules-and-edge-functions

Revert "2️⃣🧮 add meeting_id & token queries"
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/queries.dart
Due: test-the-db-rules-and-edge-functions

Revert "2️⃣🧮 add meetin_id and meeting_token to existing_collaborations"
  packages/backend/supabase/migrations/20240117141937_agora_migration_updates.sql
Due: test-the-db-rules-and-edge-functions

Revert "2️⃣✅adjust test.sh test script"
  packages/backend/dart/scripts/test.sh
Due: test-the-db-rules-and-edge-functions

Revert "2️⃣✅ 04_existing_collaborations_table_test add meeting_id query tests"
  packages/backend/dart/test/04_existing_collaborations_table_test.dart
Due: test-the-db-rules-and-edge-functions

Revert "2️⃣🧮 add meeting_id related queries"
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/queries.dart
Due: test-the-db-rules-and-edge-functions

Revert "2️⃣🧮 add meetingId to existing_collaborations table"
  packages/backend/supabase/migrations/20240117141937_agora_migration_updates.sql
Due: test-the-db-rules-and-edge-functions

Revert "2️⃣🧮 add video sdk test & delete old agora config"
  packages/backend/dart/lib/token_server/token_server.dart
  packages/backend/dart/lib/token_server/token_services.dart
  packages/backend/dart/test/03_get_agora_token_test.dart
  packages/backend/dart/test/03_video_sdk_services_test.dart
Due: test-the-db-rules-and-edge-functions

Revert "2️⃣🧮 add videosdk services"
  packages/backend/dart/lib/videosdk/services.dart
  packages/backend/dart/lib/videosdk/videosdk.dart
Due: test-the-db-rules-and-edge-functions

Revert "videoSDK android config"
  packages/client/android/app/build.gradle
  packages/client/android/app/src/main/AndroidManifest.xml
Due: run-the-unit-tests

Revert "➕ videosdk (agora migration initiated)"
  packages/client/pubspec.yaml
Due: run-the-unit-tests

Revert "2️⃣🧮 make agora mute on instantiation"
  packages/client/lib/app/core/modules/voice_call/data/sources/voice_call_remote_source.dart
  packages/client/lib/app/core/modules/voice_call/mobx/coordinator/voice_call_coordinator.dart
Due: run-the-unit-tests

Revert "🚧 see if muting audio is the problem"
  packages/client/lib/app/core/modules/voice_call/mobx/coordinator/voice_call_coordinator.dart
Due: run-the-unit-tests

Revert "1️⃣🔥 remove mic_recorder export"
  packages/client/lib/app/core/utilities/utilities.dart
Due: run-the-unit-tests

Revert "2️⃣🔥 remove mic_recorder"
  packages/client/lib/app/core/utilities/mic_recorder.dart
Due: run-the-unit-tests

2️⃣🗃️ preserve db history & efface changes in new migration
  packages/backend/supabase/migrations/20240117141937_agora_migration_updates.sql
  packages/backend/supabase/migrations/20240118123217_revert_agora_migration_updates.sql
Due: test-the-db-rules-and-edge-functions

3️⃣🚑️ major security issue with agora app id changed project id so the new one is now not publically available
  .gitlab-ci.yml
  packages/client/lib/app/core/modules/voice_call/data/sources/voice_call_remote_source.dart
  packages/client/lib/app/core/utilities/utilities.dart
Due: run-the-unit-tests

3️⃣🔥 mic_recorder for now
  packages/client/lib/app/core/utilities/mic_recorder.dart
Due: run-the-unit-tests

2️⃣🐛 fix racing problem of being online vs question constructor
  packages/client/lib/app/modules/purpose_session/presentation/mobx/coordinators/phase_one/purpose_session_phase_one_coordinator.dart
  packages/client/lib/app/modules/purpose_session/presentation/mobx/coordinators/phase_one/purpose_session_phase_one_widgets_coordinator.dart
  packages/client/lib/app/modules/purpose_session/presentation/mobx/coordinators/phase_one/purpose_session_phase_one_widgets_coordinator.g.dart
Due: run-the-unit-tests

1️⃣🐛 scope the deletion to only docs with that collaborator
  packages/backend/dart/lib/tables/_real_time_disabled/solo_sharable_documents/queries.dart
Due: test-the-db-rules-and-edge-functions

1️⃣🧮 add filter_for_unconsecrated as an option for getCollaborations
  packages/backend/dart/lib/tables/_real_time_enabled/shared/collaborative_queries.dart
Due: test-the-db-rules-and-edge-functions

2️⃣🧮 modify param in setAltControl in smart_text_store
  packages/client/lib/app/core/widgets/smart_text/stack/presentation/mobx/smart_text_store.dart
  packages/client/lib/app/core/widgets/smart_text/stack/presentation/mobx/smart_text_store.g.dart
Due: run-the-unit-tests

2️⃣💫 modify timing in smart_text_color_change_movie
  packages/client/lib/app/core/widgets/smart_text/stack/constants/movies/smart_text_color_change_movie.dart
Due: run-the-unit-tests

2️⃣🧮 add observer to smart_text color animation builder
  packages/client/lib/app/core/widgets/smart_text/stack/presentation/widget/smart_text.dart
Due: run-the-unit-tests

2️⃣🏷️ add unconsecrated_collaboration_checker & delete_status_entity
  packages/client/lib/app/core/modules/delete_unconsecrated_collaborations/domain/entities/collaboration_artifact_delete_status_entity.dart
  packages/client/lib/app/core/modules/delete_unconsecrated_collaborations/domain/entities/unconsecrated_collaboration_checker_entity.dart
Due: run-the-unit-tests
