Repository Nokhte/nokhte: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-the-db-rules-and-edge-functions, run-the-unit-tests

Path conditions:
  test-the-db-rules-and-edge-functions: any of: packages/backend/**/*
  run-the-unit-tests: any of: packages/client/**/*

3️⃣🔥home_screen_coordinator mockito not working as planned
  packages/client/test/app/modules/home/presentation/mobx/coordinator/home_screen_coordinator_test.dart
Due: run-the-unit-tests

1️⃣🏷️ add userUID to user_journey_info_entity
  packages/client/lib/app/core/modules/user_information/domain/entities/user_journey_info_entity.dart
Due: run-the-unit-tests

1️⃣🏷️ add userUID to user_journey_info_model
  packages/client/lib/app/core/modules/user_information/data/models/user_journey_info_model.dart
Due: run-the-unit-tests

3️⃣🧮 add interpret_collaborator_code_deep_link
  packages/client/lib/app/core/modules/deep_links/domain/logic/interpret_collaborator_code_deep_link.dart
Due: run-the-unit-tests

2️⃣🔥 interpret_deep_link
  packages/client/lib/app/core/modules/deep_links/domain/logic/interpret_deep_link.dart
Due: run-the-unit-tests

2️⃣💬 add postInvitationNoInvite to messages_data
  packages/client/lib/app/core/widgets/smart_text/stack/constants/data/messages_data.dart
Due: run-the-unit-tests

3️⃣🧮 update listen_for_opened_deep_link_store to be more smart
  packages/client/lib/app/core/modules/deep_links/mobx/main/listen_for_opened_deep_link_store.dart
Due: run-the-unit-tests

2️⃣🧮 add user_uid to get_user_info_store
  packages/client/lib/app/core/modules/user_information/mobx/main/get_user_info_store.dart
Due: run-the-unit-tests

2️⃣🧮 update deep_links_module binds
  packages/client/lib/app/core/modules/deep_links/deep_links_module.dart
Due: run-the-unit-tests

1️⃣💬 update deep_links exports
  packages/client/lib/app/core/modules/deep_links/domain/logic/logic.dart
Due: run-the-unit-tests

2️⃣🧮 collaboration_home_screen_widgets_coordinator: add postInvitationFlowNoInviteConstructor
  packages/client/lib/app/modules/collaboration/presentation/mobx/coordinators/collaboration_home_screen_widgets_coordinator.dart
Due: run-the-unit-tests

2️⃣🧮collaboration_home_screen_coordinator: handling of deep links
  packages/client/lib/app/modules/collaboration/presentation/mobx/coordinators/collaboration_home_screen_coordinator.dart
Due: run-the-unit-tests

2️⃣🧮interpret_collaborator_deep_link: self-invitation clicking awareness
  packages/client/lib/app/core/modules/deep_links/domain/logic/interpret_collaborator_code_deep_link.dart
Due: run-the-unit-tests

2️⃣🧮collaboration_home_screen_coordinator: add direct deep link listener
  packages/client/lib/app/modules/collaboration/presentation/mobx/coordinators/collaboration_home_screen_coordinator.dart
Due: run-the-unit-tests

1️⃣🔥 remove collaborator_phrase related triggers + functions
  packages/backend/supabase/migrations/20240109131931_remove_phrase_related_infra.sql
Due: test-the-db-rules-and-edge-functions

2️⃣🔥 remove collaborator_phrase_queries
  packages/backend/dart/lib/tables/_real_time_disabled/collaborator_phrases/queries.dart
Due: test-the-db-rules-and-edge-functions

1️⃣🔥 remove collaborator_phrase exports
  packages/backend/dart/lib/tables/collaborator_phrases.dart
Due: test-the-db-rules-and-edge-functions

2️⃣🔥 remove 02_collaborator_phrases_table_test
  packages/backend/dart/test/02_collaborator_phrases_table_test.dart
Due: test-the-db-rules-and-edge-functions

3️⃣✅ add 01_user_names_table_test
  packages/backend/dart/test/01_user_names_table_test.dart
Due: test-the-db-rules-and-edge-functions

5️⃣🚚 rename back end test suite file names
  packages/backend/dart/test/02_synchronous_search_test.dart
  packages/backend/dart/test/03_get_agora_token_test.dart
  packages/backend/dart/test/04_existing_collaborations_table_test.dart
  packages/backend/dart/test/05_solo_sharable_documents_table_test.dart
  packages/backend/dart/test/06_finished_collaborative_documents_test.dart
  packages/backend/dart/test/07_working_collaborative_documents_test.dart
  packages/backend/dart/test/08_collaborative_scheduling_table_test.dart
  packages/backend/dart/test/09_p2p_perspectives_tracking_table_test.dart
  packages/backend/dart/test/10_working_perspectives_positioning_table_test.dart
  packages/backend/dart/test/11_individual_sessions_and_perspectives_audio_storage_test.dart
  packages/backend/dart/test/12_timer_information_table_test.dart
  packages/backend/dart/test/13_working_collaborative_scheduling_table_test.dart
Due: test-the-db-rules-and-edge-functions

2️⃣👷🏾‍♂️ update test.sh for ci tests
  packages/backend/dart/scripts/test.sh
Due: test-the-db-rules-and-edge-functions

2️⃣🧮home_remote_source: remove collaboratorPhraseQueries
  packages/client/lib/app/modules/home/data/sources/home_remote_source.dart
  packages/old_client/lib/app/modules/home/data/sources/home_remote_source.dart
Due: run-the-unit-tests

5️⃣🧮 codegen updates
  packages/client/lib/app/core/modules/user_information/mobx/main/get_user_info_store.g.dart
  packages/client/lib/app/modules/collaboration/presentation/mobx/coordinators/collaboration_home_screen_coordinator.g.dart
  packages/client/lib/app/modules/collaboration/presentation/mobx/coordinators/collaboration_home_screen_widgets_coordinator.g.dart
  packages/client/test/app/modules/home/fixtures/home_stack_mock_gen.mocks.dart
Due: run-the-unit-tests

1️⃣🧮 add isEmptyOrNull array operator to array_utils
  packages/backend/supabase/functions/utils/array_utils.ts
Due: test-the-db-rules-and-edge-functions

3️⃣🗃️ remove phrases from all parts of the requests infra
  packages/backend/supabase/migrations/20240109131931_remove_phrase_related_infra.sql
Due: test-the-db-rules-and-edge-functions

2️⃣🧮initiate_collaborator_search: refactor to work w/ just uids
  packages/backend/supabase/functions/initiate-collaborator-search/index.ts
Due: test-the-db-rules-and-edge-functions

1️⃣🧮 adjust invoke initiate_collaborator_search to have string param
  packages/backend/dart/lib/edge_functions/initiate_collaborator_search.dart
Due: test-the-db-rules-and-edge-functions

2️⃣✅ 02_synchronous_search_test for new search infra
  packages/backend/dart/test/02_synchronous_search_test.dart
Due: test-the-db-rules-and-edge-functions

1️⃣🧮 stub old client pool function
  packages/old_client/lib/app/modules/p2p_collaborator_pool/data/sources/p2p_collaborator_pool_remote_source.dart
Due: none

2️⃣️🧑‍💻 adjust quality_of_life_scripts to work w/ new search model
  packages/backend/dart/test/quality_of_life_scripts/quality_of_life_test.dart
Due: test-the-db-rules-and-edge-functions

2️⃣🏷️ collaborator_search_status_entity
  packages/client/lib/app/modules/collaboration/domain/entities/collaborator_search_status_entity.dart
Due: run-the-unit-tests

2️⃣🏷️ collaborator_pool_entry_status_entity
  packages/client/lib/app/modules/collaboration/domain/entities/collaborator_pool_entry_status_entity.dart
Due: run-the-unit-tests

2️⃣🏷️ collaborator_pool_exit_status_entity
  packages/client/lib/app/modules/collaboration/domain/entities/collaborator_pool_exit_status_entity.dart
Due: run-the-unit-tests

2️⃣🏷️ add collaborator_stream_cancellation_status_entity
  packages/client/lib/app/modules/collaboration/domain/entities/collaborator_stream_cancellation_status_entity.dart
Due: run-the-unit-tests

2️⃣🧮 add collaboration_contract
  packages/client/lib/app/modules/collaboration/domain/contract/collaboration_contract.dart
Due: run-the-unit-tests

2️⃣🔥 collaborator_search_status_entity (unnecessary)
  packages/client/lib/app/modules/collaboration/domain/entities/collaborator_search_status_entity.dart
Due: run-the-unit-tests

2️⃣🧮 cancel_collaborator_search_stream
  packages/client/lib/app/modules/collaboration/domain/logic/cancel_collaborator_search_stream.dart
Due: run-the-unit-tests

2️⃣🧮 get_collaborator_search_status
  packages/client/lib/app/modules/collaboration/domain/logic/get_collaborator_search_status.dart
Due: run-the-unit-tests

2️⃣🧮 exit_collaborator_pool
  packages/client/lib/app/modules/collaboration/domain/logic/exit_collaborator_pool.dart
Due: run-the-unit-tests

2️⃣🧮 enter_collaborator_pool
  packages/client/lib/app/modules/collaboration/domain/logic/enter_collaborator_pool.dart
Due: run-the-unit-tests
