Repository Nokhte/nokhte: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-the-db-rules-and-edge-functions, run-the-unit-tests

test-the-db-rules-and-edge-functions:
  stage: development
  script:
  - melos bs
  - cd packages/backend/dart
  - echo "APPLE_CLIENT_SECRET='$APPLE_CLIENT_SECRET'" >> .env
  - echo "GOOGLE_CLIENT_ID='$GOOGLE_CLIENT_ID'" >> .env
  - echo "GOOGLE_CLIENT_SECRET='$GOOGLE_CLIENT_SECRET'" >> .env
  - supabase stop --no-backup
  - supabase start
  ...

run-the-unit-tests:
  stage: development
  script:
  - melos bs
  - cd packages/client
  - touch .env
  - flutter pub get
  - flutter test

see if this fixes the edge function errors
  .github/workflows/backend-unit-tests.yml
Due: none

test ci commit
  packages/backend/dart/test/01_user_names_table_test.dart
Due: test-the-db-rules-and-edge-functions

take edge functions away
  .github/workflows/backend-unit-tests.yml
Due: none

test commit
  packages/backend/dart/test/01_user_names_table_test.dart
Due: test-the-db-rules-and-edge-functions

use test.sh in backend
  .github/workflows/backend-unit-tests.yml
Due: none

test ci/cd commit
  packages/backend/dart/test/01_user_names_table_test.dart
Due: test-the-db-rules-and-edge-functions

adjust back end paths
  .github/workflows/backend-unit-tests.yml
Due: none

test back end commit
  packages/backend/dart/test/01_user_names_table_test.dart
Due: test-the-db-rules-and-edge-functions

get dependencies in backend
  .github/workflows/backend-unit-tests.yml
Due: none

backend test commit
  packages/backend/dart/test/01_user_names_table_test.dart
Due: test-the-db-rules-and-edge-functions

add dart context for test.sh
  packages/backend/dart/scripts/test.sh
Due: test-the-db-rules-and-edge-functions

try this alteration to test.sh
  packages/backend/dart/scripts/test.sh
Due: test-the-db-rules-and-edge-functions

try this in backend ci/cd
  .github/workflows/backend-unit-tests.yml
  packages/backend/dart/scripts/test.sh
Due: test-the-db-rules-and-edge-functions

try cd on test.sh
  .github/workflows/backend-unit-tests.yml
Due: none

test backend commit
  packages/backend/dart/test/01_user_names_table_test.dart
Due: test-the-db-rules-and-edge-functions

add serve functions
  .github/workflows/backend-unit-tests.yml
Due: none

serve edge functions individually
  .github/workflows/backend-unit-tests.yml
Due: none

try this ci/cd
  .github/workflows/backend-unit-tests.yml
Due: none

ci experiment
  .github/workflows/backend-unit-tests.yml
Due: none

try this for edge functions
  .github/workflows/backend-unit-tests.yml
Due: none

backend commit
  packages/backend/dart/test/01_user_names_table_test.dart
Due: test-the-db-rules-and-edge-functions

new ci/cd
  .github/workflows/backend-unit-tests.yml
Due: none

update backend ci/cd
  .github/workflows/backend-unit-tests.yml
Due: none

make background edge function work ci/cd
  .github/workflows/backend-unit-tests.yml
Due: none

remove kill pid
  .github/workflows/backend-unit-tests.yml
Due: none

test gitlab commit
  packages/client/lib/main.dart
Due: run-the-unit-tests

remove ci operations from gitlab
  .gitlab-ci.yml
Due: none

remove test comment
  packages/client/lib/main.dart
Due: run-the-unit-tests

add gitlab sync action
  .github/workflows/gitlab-sync.yml
Due: none

test gitlab sync
  packages/client/lib/main.dart
Due: run-the-unit-tests

fix gitlab ci to remove development
  .gitlab-ci.yml
Due: none

style: remove gitlab sync comment in client main
  packages/client/lib/main.dart
Due: run-the-unit-tests

Path conditions:
  test-the-db-rules-and-edge-functions: any of: packages/backend/**/*
  run-the-unit-tests: any of: packages/client/**/*
