Repository Nokhte/nokhte: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-the-db-rules-and-edge-functions, run-the-unit-tests

test-the-db-rules-and-edge-functions:
  stage: development
  script:
  - melos bs
  - cd packages/backend/dart
  - echo "APPLE_CLIENT_SECRET='$APPLE_CLIENT_SECRET'" >> .env
  - echo "GOOGLE_CLIENT_ID='$GOOGLE_CLIENT_ID'" >> .env
  - echo "GOOGLE_CLIENT_SECRET='$GOOGLE_CLIENT_SECRET'" >> .env
  - supabase stop --no-backup
  - supabase start
  ...

run-the-unit-tests:
  stage: development
  script:
  - melos bs
  - cd packages/client
  - touch .env
  - flutter pub get
  - flutter test

1️⃣🛢️ voice_call exports
  packages/client/lib/app/core/modules/voice_call/mobx/mobx.dart
Due: run-the-unit-tests

2️⃣🏷️ add messages for purpose purpose session
  packages/client/lib/app/core/widgets/smart_text/stack/constants/data/messages_data.dart
Due: run-the-unit-tests

1️⃣🧮 set messages in purpose_session_phase_one_widgets_coordinator
  packages/client/lib/app/modules/purpose_session/presentation/mobx/coordinators/phase_one/purpose_session_phase_one_widgets_coordinator.dart
Due: run-the-unit-tests

3️⃣💥 existing_collabrations, remove has_entered columns & add other ones
  packages/backend/supabase/migrations/20240112200442_adjust_existing_collaborations.sql
Due: test-the-db-rules-and-edge-functions

3️⃣💥 drop timer_information table
  packages/backend/supabase/migrations/20240112200455_drop_timer_information.sql
Due: test-the-db-rules-and-edge-functions

5️⃣🔥 remove timer_information streams + queries
  packages/backend/dart/lib/tables/_real_time_enabled/timer_information/queries.dart
  packages/backend/dart/lib/tables/_real_time_enabled/timer_information/stream.dart
  packages/backend/dart/lib/tables/_real_time_enabled/timer_information/timer_information.dart
  packages/backend/dart/lib/tables/_real_time_enabled/timer_information/types/presence_and_timer_completion.dart
  packages/backend/dart/lib/tables/_real_time_enabled/timer_information/types/types.dart
Due: test-the-db-rules-and-edge-functions

3️⃣☯️💥collaborative_queries: structure & names of functions
  packages/backend/dart/lib/tables/_real_time_enabled/shared/collaborative_queries.dart
Due: test-the-db-rules-and-edge-functions

3️⃣🚨 catch up queries to breaking changes
  packages/backend/dart/lib/storage/buckets/perspectives_audio/perspectives_audio_storage_queries.dart
  packages/backend/dart/lib/tables/_real_time_disabled/collective_sessions/queries.dart
  packages/backend/dart/lib/tables/_real_time_disabled/finished_collaborative_documents/queries.dart
  packages/backend/dart/lib/tables/_real_time_disabled/individual_sessions/queries.dart
  packages/backend/dart/lib/tables/_real_time_disabled/p2p_perspectives_tracking/queries.dart
  packages/backend/dart/lib/tables/_real_time_disabled/solo_sharable_documents/queries.dart
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/queries.dart
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/stream.dart
  packages/backend/dart/lib/tables/_real_time_enabled/working_collaborative_documents/queries.dart
  packages/backend/dart/lib/tables/_real_time_enabled/working_collaborative_documents/streams.dart
  packages/backend/dart/lib/tables/_real_time_enabled/working_collaborative_scheduling/queries.dart
  packages/backend/dart/lib/tables/_real_time_enabled/working_collaborative_scheduling/streams.dart
  packages/backend/dart/lib/tables/_real_time_enabled/working_perspectives_positioning/queries.dart
  packages/backend/dart/lib/tables/_real_time_enabled/working_perspectives_positioning/streams.dart
  packages/backend/dart/test/04_existing_collaborations_table_test.dart
  packages/backend/dart/test/07_working_collaborative_documents_test.dart
  packages/client/lib/app/core/modules/voice_call/data/sources/voice_call_remote_source.dart
  packages/client/lib/app/modules/home/data/sources/home_remote_source.dart
Due: test-the-db-rules-and-edge-functions, run-the-unit-tests

3️⃣🔥: remove timer_information export & test suite
  packages/backend/dart/lib/tables/timer_information.dart
  packages/backend/dart/test/12_timer_information_table_test.dart
Due: test-the-db-rules-and-edge-functions

1️⃣✅ adjust test.sh to remove timer_information test suite
  packages/backend/dart/scripts/test.sh
Due: test-the-db-rules-and-edge-functions

2️⃣🧮 minimize compilation errors on old client
  packages/old_client/lib/app/modules/p2p_collaborator_pool/presentation/mobx/coordinators/collaborator_pool_screen_coordinator_store.dart
  packages/old_client/test/app/modules/p2p_collaborator_pool/constants/entities/collaborator_pool/collaborator_search_status_entity.dart
  packages/old_client/test/app/modules/p2p_collaborator_pool/constants/models/collaborator_pool/collaborator_search_status_model.dart
  packages/old_client/test/app/modules/p2p_collaborator_pool/data/contracts/p2p_collaborator_pool_contract_impl_test.dart
  packages/old_client/test/app/modules/p2p_collaborator_pool/domain/logic/get_collaborator_search_status_test.dart
  packages/old_client/test/app/modules/p2p_collaborator_pool/presentation/mobx/main/get_collaborator_search_status_store_test.dart
Due: none

3️⃣🔥 remove collaborator_phrase queries from user_setup_constants
  packages/backend/dart/lib/constants/general/user_setup_constants.dart
Due: test-the-db-rules-and-edge-functions

3️⃣🎨 re-organize existing_collaborations queries
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/queries.dart
Due: test-the-db-rules-and-edge-functions

2️⃣🧮 adjust existing_collaborations streams to work w/out has_entered
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/stream.dart
Due: test-the-db-rules-and-edge-functions

1️⃣🔥 remove has entered from collaborator_search_and_entry_status
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/types/collaborator_search_and_entry_status.dart
Due: test-the-db-rules-and-edge-functions

2️⃣✅ 02_synchronous_search_test
  packages/backend/dart/test/02_synchronous_search_test.dart
Due: test-the-db-rules-and-edge-functions

2️⃣✅ 04_existing_collaborations_table_test
  packages/backend/dart/test/04_existing_collaborations_table_test.dart
Due: test-the-db-rules-and-edge-functions

5️⃣🚨 old_client copmilation error minimization
  packages/old_client/lib/app/modules/p2p_collaborator_pool/data/contracts/p2p_collaborator_pool_contract_impl.dart
  packages/old_client/lib/app/modules/p2p_collaborator_pool/data/sources/p2p_collaborator_pool_remote_source.dart
  packages/old_client/lib/app/modules/p2p_collaborator_pool/domain/entities/collaborator_search_status_entity.dart
  packages/old_client/lib/app/modules/p2p_collaborator_pool/presentation/mobx/coordinators/collaborator_pool_screen_coordinator_store.dart
  packages/old_client/lib/app/modules/p2p_collaborator_pool/presentation/mobx/main/get_collaborator_search_status_store.dart
  packages/old_client/lib/app/modules/p2p_collaborator_pool/presentation/mobx/main/get_collaborator_search_status_store.g.dart
  packages/old_client/test/app/core/modules/abort_purpose_session/domain/logic/abort_purpose_session_artifacts_test.dart
  packages/old_client/test/app/core/modules/abort_purpose_session/fixtures/abort_purpose_session_mock_gen.mocks.dart
  packages/old_client/test/app/modules/home/fixtures/home_stack_mock_gen.mocks.dart
  packages/old_client/test/app/modules/p2p_collaborator_pool/constants/entities/collaborator_pool/collaborator_search_status_entity.dart
  packages/old_client/test/app/modules/p2p_collaborator_pool/constants/models/collaborator_pool/collaborator_search_status_model.dart
  packages/old_client/test/app/modules/p2p_collaborator_pool/fixtures/p2p_collaborator_pool_stack_mock_gen.mocks.dart
Due: none

2️⃣💥 getCollaboratorSearchStatus is now a Stream<bool>
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/stream.dart
Due: test-the-db-rules-and-edge-functions

5️⃣🚨 adjust collaborator_search_status stack to work w/ Stream<bool>
  packages/client/lib/app/modules/collaboration/data/contract/collaboration_contract_impl.dart
  packages/client/lib/app/modules/collaboration/data/sources/collaboration_remote_source.dart
  packages/client/lib/app/modules/collaboration/domain/contract/collaboration_contract.dart
  packages/client/lib/app/modules/collaboration/domain/logic/get_collaborator_search_status.dart
  packages/client/lib/app/modules/collaboration/presentation/mobx/main/get_collaborator_search_status_store.dart
  packages/client/lib/app/modules/collaboration/presentation/mobx/main/get_collaborator_search_status_store.g.dart
Due: run-the-unit-tests

1️⃣🔥 clean out un-needed imports
  packages/client/lib/app/app_module.dart
  packages/client/lib/main.dart
Due: run-the-unit-tests

3️⃣☯️: existing_collaborations queries: reduce duplicate code
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/queries.dart
Due: test-the-db-rules-and-edge-functions

1️⃣🚨 use new filterForUnconsecrated syntax
  packages/backend/dart/test/04_existing_collaborations_table_test.dart
  packages/old_client/lib/app/core/modules/abort_purpose_session_artifacts/data/sources/abort_purpose_session_artifacts_remote_source.dart
Due: test-the-db-rules-and-edge-functions

1️⃣🔥 old client catchup
  packages/old_client/lib/app/modules/p2p_collaborator_pool/domain/entities/collaborator_search_status_entity.dart
  packages/old_client/lib/app/modules/p2p_collaborator_pool/presentation/mobx/coordinators/collaborator_pool_screen_coordinator_store.dart
  packages/old_client/lib/app/modules/p2p_purpose_session/presentation/mobx/coordinators/p2p_purpose_phase4_coordinator.dart
Due: none

1️⃣🚨 lessen client compiler warnings
  packages/client/lib/app/modules/collaboration/data/contract/collaboration_contract_impl.dart
  packages/client/lib/app/modules/collaboration/domain/logic/get_collaborator_search_status.dart
  packages/client/test/app/modules/home/presentation/mobx/coordinator/home_screen_coordinator_test.dart
Due: run-the-unit-tests

1️⃣✅ 02_synchronous_search_test
  packages/backend/dart/test/02_synchronous_search_test.dart
Due: test-the-db-rules-and-edge-functions

1️⃣✅ 04_existing_collaborations_table_test
  packages/backend/dart/test/04_existing_collaborations_table_test.dart
Due: test-the-db-rules-and-edge-functions

3️⃣☯️collaborative_queries: numerous DRY breakthroughs
  packages/backend/dart/lib/tables/_real_time_enabled/shared/collaborative_queries.dart
Due: test-the-db-rules-and-edge-functions

3️⃣☯️ existing_collaborations_queries: major cut down on repeat code
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/queries.dart
Due: test-the-db-rules-and-edge-functions

1️⃣🚨 old_client catchup
  packages/old_client/lib/app/core/modules/abort_purpose_session_artifacts/data/sources/abort_purpose_session_artifacts_remote_source.dart
  packages/old_client/lib/app/core/modules/existing_collaborations/data/sources/existing_collaborations_remote_source.dart
Due: none

3️⃣🗃️ add isOnCall, isOnline & timerInitStatus queries
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/queries.dart
Due: test-the-db-rules-and-edge-functions

3️⃣✅ isOnCall, isOnline & timerInitStatus tests
  packages/backend/dart/test/04_existing_collaborations_table_test.dart
Due: test-the-db-rules-and-edge-functions

3️⃣🏷️ add collaboration_session_metadata type
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/types/collaboration_session_metadata.dart
Due: test-the-db-rules-and-edge-functions

1️⃣🧮 add getIndexForCollaboratorNumber to collaborative_queries
  packages/backend/dart/lib/tables/_real_time_enabled/shared/collaborative_queries.dart
Due: test-the-db-rules-and-edge-functions

1️⃣🗃️ add timer_should_run to existing_collaborations
  packages/backend/supabase/migrations/20240112200442_adjust_existing_collaborations.sql
Due: test-the-db-rules-and-edge-functions

3️⃣🧮 add timerShouldRun methods to existing_collaborations queries
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/queries.dart
Due: test-the-db-rules-and-edge-functions

2️⃣🔥 collaborator_search_and_entry_status
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/types/collaborator_search_and_entry_status.dart
Due: test-the-db-rules-and-edge-functions

5️⃣🚨 old_client error minimization
  packages/old_client/lib/app/core/modules/one_talker_at_a_time/data/sources/one_talker_at_a_time_remote_source.dart
  packages/old_client/test/app/modules/p2p_collaborator_pool/data/contracts/p2p_collaborator_pool_contract_impl_test.dart
  packages/old_client/test/app/modules/p2p_collaborator_pool/domain/logic/get_collaborator_search_status_test.dart
  packages/old_client/test/app/modules/p2p_collaborator_pool/presentation/mobx/main/get_collaborator_search_status_store_test.dart
Due: none

Path conditions:
  test-the-db-rules-and-edge-functions: any of: packages/backend/**/*
  run-the-unit-tests: any of: packages/client/**/*
