Repository Nokhte/nokhte: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-the-db-rules-and-edge-functions, run-the-unit-tests

test-the-db-rules-and-edge-functions:
  stage: development
  script:
  - melos bs
  - cd packages/backend/dart
  - echo "APPLE_CLIENT_SECRET='$APPLE_CLIENT_SECRET'" >> .env
  - echo "GOOGLE_CLIENT_ID='$GOOGLE_CLIENT_ID'" >> .env
  - echo "GOOGLE_CLIENT_SECRET='$GOOGLE_CLIENT_SECRET'" >> .env
  - supabase stop --no-backup
  - supabase start
  ...

run-the-unit-tests:
  stage: development
  script:
  - melos bs
  - cd packages/client
  - touch .env
  - flutter pub get
  - flutter test

screen adjustments w/ keyboard are fixed (I think)
  packages/client/lib/app/core/mobx/base_perspectives_widgets_store.dart
  packages/client/lib/app/modules/authentication/presentation/views/login_screen.dart
  packages/client/lib/app/modules/collective_session/presentation/views/collective_session1_stand_in_their_shoes_screen.dart
  packages/client/lib/app/modules/collective_session/presentation/views/collective_session2_commit_screen.dart
  packages/client/lib/app/modules/home/presentation/screens/home_screen.dart
  packages/client/lib/app/modules/individual_session/presentation/views/individual_session_screen.dart
  packages/client/lib/app/modules/p2p_collaborator_pool/presentation/mobx/coordinators/widget_coordinator_store.dart
  packages/client/lib/app/modules/p2p_collaborator_pool/presentation/views/collaborator_pool_screen.dart
  packages/client/lib/app/modules/p2p_collaborator_pool/presentation/views/speak_the_collaborator_phrase_screen.dart
  packages/client/lib/app/modules/p2p_perspectives_session/presentation/views/perspectives_session_screen.dart
  packages/client/lib/app/modules/p2p_purpose_session/p2p_purpose_session_module.dart
  packages/client/lib/app/modules/p2p_purpose_session/presentation/mobx/coordinators/p2p_purpose_phase1_coordinator_store.dart
  packages/client/lib/app/modules/p2p_purpose_session/presentation/mobx/coordinators/p2p_purpose_phase2_coordinator_store.dart
  packages/client/lib/app/modules/p2p_purpose_session/presentation/mobx/coordinators/p2p_purpose_phase3_coordinator_store.dart
  packages/client/lib/app/modules/p2p_purpose_session/presentation/views/p2p_purpose1_greeter_screen.dart
  packages/client/lib/app/modules/p2p_purpose_session/presentation/views/p2p_purpose2_consultation_screen.dart
  packages/client/lib/app/modules/p2p_purpose_session/presentation/views/p2p_purpose3_individual_reflection_screen.dart
  packages/client/lib/app/modules/p2p_purpose_session/presentation/views/p2p_purpose4_reciprocate_attention_screen.dart
  packages/client/lib/app/modules/p2p_purpose_session/presentation/views/p2p_purpose5_collective_creation.dart
  packages/client/lib/app/modules/p2p_purpose_session/presentation/views/p2p_purpose6_schedule_next_meeting.dart
Due: run-the-unit-tests

prod ready changes
  packages/client/lib/app/modules/p2p_purpose_session/presentation/mobx/coordinators/p2p_purpose_phase1_coordinator_store.dart
  packages/client/lib/app/modules/p2p_purpose_session/presentation/mobx/coordinators/p2p_purpose_phase2_coordinator_store.dart
Due: run-the-unit-tests

haptics done for home + purpose & pool
  .vscode/nokhte.code-workspace
  packages/client/ios/Podfile.lock
  packages/client/lib/app/modules/home/presentation/mobx/coordinators/home_screen_coordinator_store.dart
  packages/client/lib/app/modules/p2p_collaborator_pool/presentation/mobx/coordinators/speak_the_collaborator_phrase_coordinator_store.dart
  packages/client/pubspec.lock
  packages/client/pubspec.yaml
Due: run-the-unit-tests

improved perspectives session navigation guard
  .vscode/nokhte.code-workspace
  packages/client/lib/app/core/constants/entities.dart
  packages/client/lib/app/modules/home/data/contracts/home_contract_impl.dart
  packages/client/lib/app/modules/home/data/models/existing_collaborations_info_model.dart
  packages/client/lib/app/modules/home/data/sources/home_remote_source.dart
  packages/client/lib/app/modules/home/domain/entities/existing_collaborations_info_entity.dart
  packages/client/lib/app/modules/home/presentation/mobx/coordinators/home_screen_coordinator_store.dart
  packages/client/lib/app/modules/home/presentation/mobx/coordinators/home_screen_coordinator_store.g.dart
  packages/client/lib/app/modules/home/presentation/mobx/main/get_existing_collaborations_info_store.dart
  packages/client/lib/app/modules/home/presentation/mobx/main/get_existing_collaborations_info_store.g.dart
  packages/client/lib/app/modules/p2p_collaborator_pool/presentation/mobx/coordinators/speak_the_collaborator_phrase_coordinator_store.g.dart
  packages/client/test/app/modules/home/fixtures/home_stack_mock_gen.mocks.dart
Due: run-the-unit-tests

delayed fade out of question
  packages/client/lib/app/modules/p2p_purpose_session/presentation/mobx/coordinators/p2p_purpose_phase2_coordinator_store.dart
Due: run-the-unit-tests

timer table added
  packages/backend/supabase/migrations/20231117145745_timer_table.sql
Due: test-the-db-rules-and-edge-functions

add empty queries file for timer_information table
  packages/backend/dart/lib/tables/_real_time_enabled/timer_information/queries.dart
Due: test-the-db-rules-and-edge-functions

add empty stream file for timer_information table
  packages/backend/dart/lib/tables/_real_time_enabled/timer_information/stream.dart
Due: test-the-db-rules-and-edge-functions

add custom types file for timer_information table
  packages/backend/dart/lib/tables/_real_time_enabled/timer_information/types/types.dart
Due: test-the-db-rules-and-edge-functions

added low level timer_information barrel file
  packages/backend/dart/lib/tables/_real_time_enabled/timer_information/timer_information.dart
Due: test-the-db-rules-and-edge-functions

added high level barrel file for timer_information
  packages/backend/dart/lib/tables/timer_information.dart
Due: test-the-db-rules-and-edge-functions

made base timer information queries class
  packages/backend/dart/lib/tables/_real_time_enabled/timer_information/queries.dart
Due: test-the-db-rules-and-edge-functions

added table constant fields for timer_information
  packages/backend/dart/lib/tables/_real_time_enabled/timer_information/queries.dart
Due: test-the-db-rules-and-edge-functions

deleted timer path test, not currently relevant
  packages/backend/dart/test/13_is_a_valid_timer_path_test.dart
Due: test-the-db-rules-and-edge-functions

create & delete queries & tests timer_information
  packages/backend/dart/lib/tables/_real_time_enabled/timer_information/queries.dart
  packages/backend/dart/test/13_timer_information_table_test.dart
Due: test-the-db-rules-and-edge-functions

update test.sh to include newest tests
  packages/backend/dart/scripts/test.sh
Due: test-the-db-rules-and-edge-functions

added select query & test for timer_information
  packages/backend/dart/lib/tables/_real_time_enabled/timer_information/queries.dart
  packages/backend/dart/test/13_timer_information_table_test.dart
Due: test-the-db-rules-and-edge-functions

updatePresence query + tests for timer_information
  packages/backend/dart/lib/tables/_real_time_enabled/timer_information/queries.dart
  packages/backend/dart/test/13_timer_information_table_test.dart
Due: test-the-db-rules-and-edge-functions

timer markdown query + tests for timer_information
  packages/backend/dart/lib/tables/_real_time_enabled/timer_information/queries.dart
  packages/backend/dart/test/13_timer_information_table_test.dart
Due: test-the-db-rules-and-edge-functions

add presence + time entity for use in stream
  packages/backend/dart/lib/tables/_real_time_enabled/timer_information/types/presence_and_time_remaining.dart
  packages/backend/dart/lib/tables/_real_time_enabled/timer_information/types/types.dart
Due: test-the-db-rules-and-edge-functions

queries+streams+test suite for timer_information
  packages/backend/dart/lib/tables/_real_time_enabled/timer_information/queries.dart
  packages/backend/dart/lib/tables/_real_time_enabled/timer_information/stream.dart
  packages/backend/dart/test/13_timer_information_table_test.dart
Due: test-the-db-rules-and-edge-functions

bug solved related to timer table test failing
  packages/backend/dart/test/13_timer_information_table_test.dart
Due: test-the-db-rules-and-edge-functions

cancelled stream to see if ci/cd passes
  packages/backend/dart/test/13_timer_information_table_test.dart
Due: test-the-db-rules-and-edge-functions

End edge functions after their test
  .gitlab-ci.yml
  packages/backend/dart/scripts/test.sh
Due: test-the-db-rules-and-edge-functions

revert edge function kill placement
  .gitlab-ci.yml
  packages/backend/dart/scripts/test.sh
Due: test-the-db-rules-and-edge-functions

altered RLS on existing_collaborations for ci bug
  packages/backend/supabase/migrations/20231117221409_pollicy_change_on_existing_collaborations.sql
Due: test-the-db-rules-and-edge-functions

added redux & other deps (starting the migration)
  packages/client/pubspec.yaml
Due: run-the-unit-tests

added the pubspec.lock for redux migration
  packages/client/pubspec.lock
Due: run-the-unit-tests

created base timer module for client impl
  packages/client/lib/app/core/modules/timer/data/contracts/timer_contract_impl.dart
  packages/client/lib/app/core/modules/timer/data/data.dart
  packages/client/lib/app/core/modules/timer/data/models/models.dart
  packages/client/lib/app/core/modules/timer/data/sources/timer_remote_source.dart
  packages/client/lib/app/core/modules/timer/domain/contracts/timer_contract.dart
  packages/client/lib/app/core/modules/timer/domain/domain.dart
  packages/client/lib/app/core/modules/timer/domain/entities/entities.dart
  packages/client/lib/app/core/modules/timer/domain/logic/logic.dart
  packages/client/lib/app/core/modules/timer/presentation/mobx/coordinators/coordinators.dart
  packages/client/lib/app/core/modules/timer/presentation/mobx/getters/getters.dart
  packages/client/lib/app/core/modules/timer/presentation/mobx/main/main.dart
  packages/client/lib/app/core/modules/timer/presentation/mobx/mobx.dart
  packages/client/lib/app/core/modules/timer/presentation/presentation.dart
  packages/client/lib/app/core/modules/timer/timer_module.dart
Due: run-the-unit-tests

add timer creation status entity
  .vscode/nokhte.code-workspace
Due: none

add timer creation status entity + revert .vscode
  packages/client/lib/app/core/modules/timer/domain/entities/timer_creation_status_entity.dart
Due: run-the-unit-tests

modify vscode config
  .vscode/nokhte.code-workspace
Due: none

added creation status entity to timer
  packages/client/lib/app/core/modules/timer/domain/entities/entities.dart
Due: run-the-unit-tests

added create timer to contract interface
  packages/client/lib/app/core/modules/timer/domain/contracts/timer_contract.dart
Due: run-the-unit-tests

logic for create_timer
  packages/client/lib/app/core/modules/timer/domain/logic/create_timer.dart
Due: run-the-unit-tests

timer creation status model created
  packages/client/lib/app/core/modules/timer/data/models/models.dart
  packages/client/lib/app/core/modules/timer/data/models/timer_creation_status_model.dart
Due: run-the-unit-tests

contract impl for create timer development
  packages/client/lib/app/core/modules/timer/data/contracts/timer_contract_impl.dart
  packages/client/lib/app/core/modules/timer/data/sources/timer_remote_source.dart
Due: run-the-unit-tests

added param entity for different timer length
  packages/client/lib/app/core/modules/timer/domain/logic/create_timer.dart
Due: run-the-unit-tests

reflected create timer param changes in contract
  packages/client/lib/app/core/modules/timer/domain/contracts/timer_contract.dart
Due: run-the-unit-tests

Path conditions:
  test-the-db-rules-and-edge-functions: any of: packages/backend/**/*
  run-the-unit-tests: any of: packages/client/**/*
