Repository Nokhte/nokhte: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-the-db-rules-and-edge-functions, run-the-unit-tests

Path conditions:
  test-the-db-rules-and-edge-functions: any of: packages/backend/**/*
  run-the-unit-tests: any of: packages/client/**/*

Remove run Names & clean up current names on all jobs
  .github/workflows/backend-production-deploy.yml
  .github/workflows/backend-staging-deploy.yml
  .github/workflows/backend-unit-tests.yml
  .github/workflows/client-unit-tests.yml
Due: none

add(ActiveNokhteSessions):phaseTracking, speakerSpotlight & OnlineStatus
  packages/backend/supabase/migrations/20240131130106_active_nokhte_session_additions.sql
Due: test-the-db-rules-and-edge-functions

add nokhte_session_metadata & export
  packages/backend/dart/lib/tables/_real_time_enabled/active_nokhte_sessions/types/nokhte_session_metadata.dart
  packages/backend/dart/lib/tables/_real_time_enabled/active_nokhte_sessions/types/types.dart
Due: test-the-db-rules-and-edge-functions

add: active_nokhte_sessions_constants
  packages/backend/dart/lib/tables/_real_time_enabled/active_nokhte_sessions/constants/constants.dart
Due: test-the-db-rules-and-edge-functions

add: active_nokhte_sessions_queries for the new columns: 1. current_phases 2. speaker_spotlight 3. is_online
  packages/backend/dart/lib/tables/_real_time_enabled/active_nokhte_sessions/queries.dart
Due: test-the-db-rules-and-edge-functions

add: getSessionMetadata to active_nokhte_sessions_steams
  packages/backend/dart/lib/tables/_real_time_enabled/active_nokhte_sessions/streams.dart
Due: test-the-db-rules-and-edge-functions

test:(active_nokhte_session) test suite to cover new stream + queries
  packages/backend/dart/test/10_active_nokhte_sessions_table_test.dart
Due: test-the-db-rules-and-edge-functions

fix: wifi pausing of smart text & onInactive text freezing
  packages/client/lib/app/modules/nokhte_session/presentation/mobx/coordinators/phase0/nokhte_session_phase0_widgets_coordinator.dart
Due: run-the-unit-tests

fix: file name typo in test.sh
  packages/backend/dart/scripts/test.sh
Due: test-the-db-rules-and-edge-functions

fix: re-order backend test suite to get around buggy behavior
  packages/backend/dart/scripts/test.sh
  packages/backend/dart/test/02_get_agora_token_test.dart
  packages/backend/dart/test/03_synchronous_search_test.dart
Due: test-the-db-rules-and-edge-functions

test-fix: fix stream bug by putting it in a setUp block
  packages/backend/dart/test/03_synchronous_search_test.dart
Due: test-the-db-rules-and-edge-functions

move: update_presence_property_params to shared under presece_modules
  packages/client/lib/app/core/modules/presence_modules/modules/shared/domain/logic/params/params.dart
  packages/client/lib/app/core/modules/presence_modules/modules/shared/domain/logic/params/update_presence_property_params.dart
Due: run-the-unit-tests

move: update_who_is_talking to shared
  packages/client/lib/app/core/modules/presence_modules/modules/shared/domain/logic/update_who_is_talking.dart
Due: run-the-unit-tests

move: update_current_phase
  packages/client/lib/app/core/modules/presence_modules/modules/shared/domain/logic/update_current_phase.dart
Due: run-the-unit-tests

move+rename: get_session_metadata => base_get_session_metadata
  packages/client/lib/app/core/modules/collaborator_presence/domain/logic/get_session_metadata.dart
  packages/client/lib/app/core/modules/presence_modules/modules/shared/domain/logic/base_get_session_metadata.dart
Due: run-the-unit-tests

move: update_online_status
  packages/client/lib/app/core/modules/presence_modules/modules/shared/domain/logic/update_online_status.dart
Due: run-the-unit-tests

move: cancel_session_metadata_stream
  packages/client/lib/app/core/modules/presence_modules/modules/shared/domain/logic/cancel_session_metadata_stream.dart
Due: run-the-unit-tests

delete: update_on_call_status
  packages/client/lib/app/core/modules/collaborator_presence/domain/logic/update_on_call_status.dart
Due: run-the-unit-tests

move: update_timer_status
  packages/client/lib/app/core/modules/presence_modules/modules/purpose_session_presence/domain/logic/update_timer_status.dart
Due: run-the-unit-tests

add purpose_session_presence logic exports
  packages/client/lib/app/core/modules/collaborator_presence/domain/logic/logic.dart
  packages/client/lib/app/core/modules/presence_modules/modules/purpose_session_presence/domain/logic/logic.dart
Due: run-the-unit-tests

move+update: get_session_metadata_store
  packages/client/lib/app/core/modules/collaborator_presence/mobx/main/get_session_metadata_store.dart
  packages/client/lib/app/core/modules/collaborator_presence/mobx/main/get_session_metadata_store.g.dart
  packages/client/lib/app/core/modules/presence_modules/modules/purpose_session_presence/mobx/main/get_session_metadata_store.dart
  packages/client/lib/app/core/modules/presence_modules/modules/purpose_session_presence/mobx/main/get_session_metadata_store.g.dart
Due: run-the-unit-tests

move+update: collaborator_presence_coordinator
  packages/client/lib/app/core/modules/collaborator_presence/mobx/coordinators/collaborator_presence_coordinator.dart
  packages/client/lib/app/core/modules/collaborator_presence/mobx/coordinators/collaborator_presence_coordinator.g.dart
  packages/client/lib/app/core/modules/presence_modules/modules/purpose_session_presence/mobx/coordinators/collaborator_presence_coordinator.dart
  packages/client/lib/app/core/modules/presence_modules/modules/purpose_session_presence/mobx/coordinators/collaborator_presence_coordinator.g.dart
  packages/client/lib/app/core/modules/presence_modules/modules/purpose_session_presence/mobx/coordinators/coordinators.dart
Due: run-the-unit-tests

move+update: collaborator_presence exports
  packages/client/lib/app/core/modules/collaborator_presence/data/data.dart
  packages/client/lib/app/core/modules/collaborator_presence/domain/domain.dart
  packages/client/lib/app/core/modules/presence_modules/modules/purpose_session_presence/data/data.dart
  packages/client/lib/app/core/modules/presence_modules/modules/purpose_session_presence/domain/domain.dart
  packages/client/lib/app/core/modules/presence_modules/modules/purpose_session_presence/mobx/main/main.dart
  packages/client/lib/app/core/modules/presence_modules/modules/purpose_session_presence/mobx/mobx.dart
Due: run-the-unit-tests

move: purpose_session_presence_remote_source
  packages/client/lib/app/core/modules/presence_modules/modules/purpose_session_presence/data/sources/purpose_session_presence_remote_source.dart
Due: run-the-unit-tests

move+updat: purpose_session_presence_contract
  packages/client/lib/app/core/modules/collaborator_presence/domain/contracts/collaborator_presence_contract.dart
  packages/client/lib/app/core/modules/presence_modules/modules/purpose_session_presence/domain/contracts/purpose_session_presence_contract.dart
Due: run-the-unit-tests

move+update collaborator_presence_contract_impl
  packages/client/lib/app/core/modules/collaborator_presence/data/contracts/collaborator_presence_contract_impl.dart
  packages/client/lib/app/core/modules/presence_modules/modules/purpose_session_presence/data/contracts/purpose_presence_contract_impl.dart
Due: run-the-unit-tests

add: base_presence_coordinator
  packages/client/lib/app/core/modules/presence_modules/modules/shared/mobx/coordinators/base_presence_coordinator.dart
  packages/client/lib/app/core/modules/presence_modules/modules/shared/mobx/coordinators/base_presence_coordinator.g.dart
Due: run-the-unit-tests

add: base_get_session_metadata_store
  packages/client/lib/app/core/modules/presence_modules/modules/shared/mobx/main/base_get_session_metadata_store.dart
  packages/client/lib/app/core/modules/presence_modules/modules/shared/mobx/main/base_get_session_metadata_store.g.dart
Due: run-the-unit-tests

add base_presence_contract & impl
  packages/client/lib/app/core/modules/presence_modules/modules/shared/data/contract/base_presence_contract_impl.dart
  packages/client/lib/app/core/modules/presence_modules/modules/shared/domain/contracts/base_presence_contract.dart
Due: run-the-unit-tests

add base_presence_remote_source
  packages/client/lib/app/core/modules/presence_modules/modules/shared/data/source/base_presence_remote_source.dart
Due: run-the-unit-tests

add: nokhte_session_presence_remote_source
  packages/client/lib/app/core/modules/presence_modules/modules/nokhte_session_presence/nokhte_session_presence_remote_source.dart
Due: run-the-unit-tests

refactor: updateCurrentPhase for active_nokhte_sessions to double
  packages/backend/dart/lib/tables/_real_time_enabled/active_nokhte_sessions/queries.dart
Due: test-the-db-rules-and-edge-functions

move: collaborator_presence_module
  packages/client/lib/app/core/modules/presence_modules/modules/purpose_session_presence_module.dart
Due: run-the-unit-tests

add: presence_modules exports
  packages/client/lib/app/core/modules/presence_modules/modules/modules.dart
  packages/client/lib/app/core/modules/presence_modules/modules/purpose_session_presence/purpose_session_presence.dart
  packages/client/lib/app/core/modules/presence_modules/modules/shared/data/data.dart
  packages/client/lib/app/core/modules/presence_modules/modules/shared/domain/domain.dart
  packages/client/lib/app/core/modules/presence_modules/modules/shared/domain/logic/logic.dart
  packages/client/lib/app/core/modules/presence_modules/modules/shared/mobx/mobx.dart
  packages/client/lib/app/core/modules/presence_modules/modules/shared/shared.dart
  packages/client/lib/app/core/modules/presence_modules/presence_modules.dart
Due: run-the-unit-tests

add: nokhte_session_presence_module
  packages/client/lib/app/core/modules/presence_modules/modules/nokhte_session_presence_module.dart
Due: run-the-unit-tests

update: imports of presence_modules
  packages/client/lib/app/core/widgets/collaborator_presence_incidents_overlay/stack/presentation/mobx/collaborator_presence_incidents_overlay_store.dart
  packages/client/lib/app/modules/purpose_session/presentation/mobx/coordinators/phase1/purpose_session_phase1_coordinator.dart
  packages/client/lib/app/modules/purpose_session/presentation/mobx/coordinators/phase2/purpose_session_phase2_coordinator.dart
  packages/client/lib/app/modules/purpose_session/purpose_session_module.dart
Due: run-the-unit-tests

fix: linter warnings
  packages/client/lib/app/core/widgets/nokhte_custom_animation_builder/nokhte_custom_animation_builder.dart
  packages/client/lib/app/modules/collaboration/presentation/mobx/coordinators/logic/collaboration_logic_coordinator.dart
  packages/client/lib/app/modules/home/presentation/mobx/coordinators/home_screen_widgets_coordinator.dart
  packages/client/lib/app/modules/nokhte_session/nokhte_session_module.dart
  packages/client/lib/app/modules/purpose_session/presentation/mobx/coordinators/phase2/purpose_session_phase2_widgets_coordinator.dart
  packages/client/lib/app/modules/purpose_session/presentation/views/purpose_session_phase3_expand_their_ideas.dart
Due: run-the-unit-tests

fix: navigation code in home screen
  packages/client/lib/app/modules/home/presentation/mobx/coordinators/home_screen_coordinator.dart
Due: run-the-unit-tests

add: create nokhte session function in quality_of_life_scripts
  packages/backend/dart/test/quality_of_life_scripts/quality_of_life_test.dart
Due: test-the-db-rules-and-edge-functions
