Repository Nokhte/nokhte: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-the-db-rules-and-edge-functions, run-the-unit-tests

test-the-db-rules-and-edge-functions:
  stage: development
  script:
  - melos bs
  - cd packages/backend/dart
  - echo "APPLE_CLIENT_SECRET='$APPLE_CLIENT_SECRET'" >> .env
  - echo "GOOGLE_CLIENT_ID='$GOOGLE_CLIENT_ID'" >> .env
  - echo "GOOGLE_CLIENT_SECRET='$GOOGLE_CLIENT_SECRET'" >> .env
  - supabase stop --no-backup
  - supabase start
  ...

run-the-unit-tests:
  stage: development
  script:
  - melos bs
  - cd packages/client
  - touch .env
  - flutter pub get
  - flutter test

1️⃣🛢️ types from gesture cross stack
  packages/client/lib/app/core/widgets/gesture_cross/stack/stack.dart
Due: run-the-unit-tests

1️⃣🛢️ add gesture_cross to widgets
  packages/client/lib/app/core/widgets/widgets.dart
Due: run-the-unit-tests

3️⃣🚚 moved individual widget calls & remove v1 functions
  packages/client/lib/app/modules/home/presentation/mobx/coordinators/home_screen_coordinator.dart
  packages/client/lib/app/modules/home/presentation/mobx/coordinators/home_screen_coordinator.g.dart
Due: run-the-unit-tests

2️⃣️🚚 connect stores through widgets coordinator
  packages/client/lib/app/modules/home/presentation/screens/home_screen.dart
Due: run-the-unit-tests

🔥 remove pubspec locks project wide
  packages/backend/dart/pubspec.lock
  packages/client/pubspec.lock
  pubspec.lock
Due: test-the-db-rules-and-edge-functions, run-the-unit-tests

🙈 add pubspec.locks
  .gitignore
  packages/backend/dart/.gitignore
Due: test-the-db-rules-and-edge-functions

1️⃣🔧 re-order melos packages in A-Z order
  melos.yaml
Due: none

5️⃣🚚 moved gesture cross types inside presentation
  packages/client/lib/app/core/widgets/gesture_cross/stack/presentation/types/circle_information.dart
  packages/client/lib/app/core/widgets/gesture_cross/stack/presentation/types/colors_and_stops.dart
  packages/client/lib/app/core/widgets/gesture_cross/stack/presentation/types/types.dart
Due: run-the-unit-tests

1️⃣🚚 move types export inside presentation
  packages/client/lib/app/core/widgets/gesture_cross/stack/presentation/presentation.dart
  packages/client/lib/app/core/widgets/gesture_cross/stack/stack.dart
Due: run-the-unit-tests

1️⃣🛢️ colors and stops from gesture_cross types
  packages/client/lib/app/core/widgets/gesture_cross/stack/presentation/types/types.dart
Due: run-the-unit-tests

1️⃣⚰️ remove redundant types import
  packages/client/lib/app/core/widgets/gesture_cross/stack/presentation/widget/canvas/gesture_cross_painter.dart
  packages/client/lib/app/core/widgets/gesture_cross/stack/presentation/widget/gesture_cross.dart
Due: run-the-unit-tests

3️⃣👔 gesture_cross store logic cleared out + constants
  packages/client/lib/app/core/widgets/gesture_cross/stack/presentation/mobx/gesture_cross_store.dart
  packages/client/lib/app/core/widgets/gesture_cross/stack/presentation/mobx/gesture_cross_store.g.dart
Due: run-the-unit-tests

3️⃣💬 add offsets as constants for readability
  packages/client/lib/app/core/widgets/gesture_cross/stack/presentation/constants/circle_offsets.dart
  packages/client/lib/app/core/widgets/gesture_cross/stack/presentation/constants/constants.dart
Due: run-the-unit-tests

1️⃣✏️ ending alignment improperly set to start
  packages/client/lib/app/core/widgets/gesture_cross/stack/presentation/types/circle_information.dart
Due: run-the-unit-tests

1️⃣🛢️ add types to presentation exports
  packages/client/lib/app/core/widgets/gesture_cross/stack/presentation/presentation.dart
Due: run-the-unit-tests

2️⃣️🐛 circle gradients not showing up is fixed
  packages/client/lib/app/core/widgets/gesture_cross/stack/presentation/widget/canvas/gesture_cross_painter.dart
Due: run-the-unit-tests

2️⃣️☯️ simplify name of store + move painter fields to store 1. mainly for cleanliness purposes
  packages/client/lib/app/core/widgets/gesture_cross/stack/presentation/widget/gesture_cross.dart
Due: run-the-unit-tests

1️⃣♻️ home screen: update GestureCross store field
  packages/client/lib/app/modules/home/presentation/screens/home_screen.dart
Due: run-the-unit-tests

4️⃣🔥 podfile.lock from version control
  packages/client/ios/Gemfile.lock
Due: run-the-unit-tests

🙈 add Gemfile.lock to gitignore
  .gitignore
Due: none

⬆️ agora_rtc_engine 6.2.2 to 6.2.6
  packages/client/pubspec.yaml
Due: run-the-unit-tests

✏️ fix typo in client pubspec
  packages/client/pubspec.yaml
Due: run-the-unit-tests

4️⃣🔥 Podfile from version control
  packages/client/ios/Podfile.lock
Due: run-the-unit-tests

🙈 ignore Podfile
  .gitignore
Due: none

⚙️ remove personal workspace from git
  .vscode/nokhte.code-workspace
Due: none

⚙️ add example starter vscode workspace
  .vscode/example.nokhte.code-workspace
Due: none

🙈 ignore local vscode workspace
  .gitignore
Due: none

5️⃣💄 add spotlight_halo implementation skeleton
  packages/client/lib/app/core/widgets/spotlight_halo/spotlight_halo.dart
  packages/client/lib/app/core/widgets/spotlight_halo/stack/constants/constants.dart
  packages/client/lib/app/core/widgets/spotlight_halo/stack/constants/data/data.dart
  packages/client/lib/app/core/widgets/spotlight_halo/stack/constants/types/types.dart
  packages/client/lib/app/core/widgets/spotlight_halo/stack/presentation/mobx/spotlight_halo_store.dart
  packages/client/lib/app/core/widgets/spotlight_halo/stack/presentation/presentation.dart
  packages/client/lib/app/core/widgets/spotlight_halo/stack/presentation/widget/spotlight_halo.dart
  packages/client/lib/app/core/widgets/spotlight_halo/stack/stack.dart
Due: run-the-unit-tests

1️⃣🛢️ export spotlight halo from widgets root
  packages/client/lib/app/core/widgets/widgets.dart
Due: run-the-unit-tests

3️⃣💄 add base spotlight_halo widget implementation
  packages/client/lib/app/core/widgets/spotlight_halo/stack/presentation/widget/spotlight_halo.dart
Due: run-the-unit-tests

3️⃣💄 add base spotlight_halo_painter impl
  packages/client/lib/app/core/widgets/spotlight_halo/stack/presentation/widget/canvas/spotlight_halo_painter.dart
Due: run-the-unit-tests

5️⃣🤡 update mocks to reflect new changes
  packages/client/test/app/core/guards/auth_guard_test.mocks.dart
  packages/client/test/app/core/modules/connectivity/mocks/connectivity_mocks.mocks.dart
  packages/client/test/app/core/widgets/wifi_disconnect_overlay/wifi_disconnect_mocks.mocks.dart
  packages/client/test/app/modules/_helpers/common_mocks.mocks.dart
  packages/client/test/app/modules/_module_helpers/module_mock_gen.mocks.dart
  packages/client/test/app/modules/_module_helpers/shared_mocks_gen.mocks.dart
  packages/client/test/app/modules/authentication/fixtures/authentication_stack_mock_gen.mocks.dart
  packages/client/test/app/modules/home/fixtures/home_stack_mock_gen.mocks.dart
  packages/client/test/app/modules/shared/shared_mocks.mocks.dart
Due: run-the-unit-tests

5️⃣👔 add base spotlight halo store
  packages/client/lib/app/core/widgets/spotlight_halo/stack/presentation/mobx/spotlight_halo_store.dart
  packages/client/lib/app/core/widgets/spotlight_halo/stack/presentation/mobx/spotlight_halo_store.g.dart
Due: run-the-unit-tests

2️⃣️💄 inject spotlight_halo store into widget
  packages/client/lib/app/core/widgets/spotlight_halo/stack/presentation/widget/spotlight_halo.dart
Due: run-the-unit-tests

1️⃣👔 extend BaseCustomAnimatedWidget in spotlight_halo_store
  packages/client/lib/app/core/widgets/spotlight_halo/stack/presentation/mobx/spotlight_halo_store.dart
Due: run-the-unit-tests

2️⃣️🛢️ add spotlight_halo imports & extend HookWidget
  packages/client/lib/app/core/widgets/spotlight_halo/stack/presentation/widget/spotlight_halo.dart
Due: run-the-unit-tests

2️⃣️💄 add widgets & builders in spotlight_halo
  packages/client/lib/app/core/widgets/spotlight_halo/stack/presentation/widget/spotlight_halo.dart
Due: run-the-unit-tests

2️⃣️👔 inject SpotlightHalo into home widget binds
  packages/client/lib/app/modules/home/home_widgets_module.dart
Due: run-the-unit-tests

1️⃣👔 inject spotlight halo into store coordinator
  packages/client/lib/app/modules/home/presentation/mobx/coordinators/home_screen_widgets_coordinator.dart
Due: run-the-unit-tests

1️⃣️👔 inject spotlight halo into widget coordinator binds
  packages/client/lib/app/modules/home/home_widgets_module.dart
Due: run-the-unit-tests

Path conditions:
  test-the-db-rules-and-edge-functions: any of: packages/backend/**/*
  run-the-unit-tests: any of: packages/client/**/*
