Repository Nokhte/nokhte: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-the-db-rules-and-edge-functions, run-the-unit-tests

test-the-db-rules-and-edge-functions:
  stage: development
  script:
  - melos bs
  - cd packages/backend/dart
  - echo "APPLE_CLIENT_SECRET='$APPLE_CLIENT_SECRET'" >> .env
  - echo "GOOGLE_CLIENT_ID='$GOOGLE_CLIENT_ID'" >> .env
  - echo "GOOGLE_CLIENT_SECRET='$GOOGLE_CLIENT_SECRET'" >> .env
  - supabase stop --no-backup
  - supabase start
  ...

run-the-unit-tests:
  stage: development
  script:
  - melos bs
  - cd packages/client
  - touch .env
  - flutter pub get
  - flutter test

add reactors for onQuickConnected & conConnected to work better
  packages/client/lib/app/core/widgets/wifi_disconnect_overlay/stack/presentation/mobx/wifi_disconnect_overlay_store.dart
  packages/client/lib/app/core/widgets/wifi_disconnect_overlay/stack/presentation/mobx/wifi_disconnect_overlay_store.g.dart
Due: run-the-unit-tests

add new wifi Disconnect impl on home screen
  packages/client/lib/app/modules/home/presentation/mobx/coordinators/home_screen_coordinator.dart
  packages/client/lib/app/modules/home/presentation/mobx/coordinators/home_screen_widgets_coordinator.dart
  packages/client/lib/app/modules/home/presentation/mobx/coordinators/home_screen_widgets_coordinator.g.dart
Due: run-the-unit-tests

move availability sectors tap reactor into main
  packages/client/lib/app/modules/home/presentation/mobx/coordinators/home_screen_coordinator.dart
  packages/client/lib/app/modules/home/presentation/mobx/coordinators/home_screen_widgets_coordinator.dart
Due: run-the-unit-tests

migrate login screen to new wifi disconnect api
  packages/client/lib/app/modules/authentication/presentation/mobx/coordinators/login_screen_coordinator.dart
  packages/client/lib/app/modules/authentication/presentation/mobx/coordinators/login_screen_widgets_coordinator.dart
  packages/client/lib/app/modules/authentication/presentation/mobx/coordinators/login_screen_widgets_coordinator.g.dart
Due: run-the-unit-tests

migrat home screen to new wifi disconnect api
  packages/client/lib/app/modules/home/presentation/mobx/coordinators/home_screen_coordinator.dart
  packages/client/lib/app/modules/home/presentation/mobx/coordinators/home_screen_coordinator.g.dart
  packages/client/lib/app/modules/home/presentation/mobx/coordinators/home_screen_widgets_coordinator.dart
  packages/client/lib/app/modules/home/presentation/screens/home_screen.dart
Due: run-the-unit-tests

update wifi_disconnect_overlay_store_test
  packages/client/test/app/core/widgets/wifi_disconnect_overlay/wifi_disconnect_overlay_store_test.dart
Due: run-the-unit-tests

flesh out dispose get_on_connectivity_changed_store
  packages/client/lib/app/core/modules/connectivity/mobx/get_on_connectivity_changed_store.dart
Due: run-the-unit-tests

move exit pool to the top of delete
  packages/client/lib/app/core/modules/delete_unconsecrated_collaborations/mobx/delete_unconsecrated_collaborations_coordinator.dart
Due: run-the-unit-tests

remove disablePausing from smart_text_store
  packages/client/lib/app/core/widgets/smart_text/stack/presentation/mobx/smart_text_store.dart
  packages/client/lib/app/core/widgets/smart_text/stack/presentation/mobx/smart_text_store.g.dart
Due: run-the-unit-tests

remove disable pausing from login
  packages/client/lib/app/modules/authentication/presentation/mobx/coordinators/login_screen_widgets_coordinator.dart
Due: run-the-unit-tests

migrate collaboration home to new wifi disconnect api
  packages/client/lib/app/modules/collaboration/presentation/mobx/coordinators/collaboration_home/collaboration_home_screen_coordinator.dart
  packages/client/lib/app/modules/collaboration/presentation/mobx/coordinators/collaboration_home/collaboration_home_screen_coordinator.g.dart
  packages/client/lib/app/modules/collaboration/presentation/mobx/coordinators/collaboration_home/collaboration_home_screen_widgets_coordinator.dart
  packages/client/lib/app/modules/collaboration/presentation/mobx/coordinators/collaboration_home/collaboration_home_screen_widgets_coordinator.g.dart
  packages/client/lib/app/modules/collaboration/presentation/views/collaboration_home_screen.dart
Due: run-the-unit-tests

migrate collaborator_pool to new wifi disconnect api
  packages/client/lib/app/modules/collaboration/presentation/mobx/coordinators/collaborator_pool/collaborator_pool_screen_widgets_coordinator.dart
Due: run-the-unit-tests

phase0 migration complete
  packages/client/lib/app/modules/purpose_session/presentation/mobx/coordinators/phase0/purpose_session_phase0_widgets_coordinator.dart
Due: run-the-unit-tests

add ability to disable touch feedback in text_editor
  packages/client/lib/app/core/widgets/text_editor/stack/presentation/mobx/text_editor_store.dart
  packages/client/lib/app/core/widgets/text_editor/stack/presentation/mobx/text_editor_store.g.dart
  packages/client/lib/app/core/widgets/text_editor/stack/presentation/widget/text_editor.dart
Due: run-the-unit-tests

make phase 1 new wifi compatible
  packages/client/lib/app/modules/purpose_session/presentation/mobx/coordinators/phase1/purpose_session_phase1_coordinator.dart
  packages/client/lib/app/modules/purpose_session/presentation/mobx/coordinators/phase1/purpose_session_phase1_widgets_coordinator.dart
Due: run-the-unit-tests

make phase 2 new wifi compatible
  packages/client/lib/app/modules/purpose_session/presentation/mobx/coordinators/phase2/purpose_session_phase2_coordinator.dart
  packages/client/lib/app/modules/purpose_session/presentation/mobx/coordinators/phase2/purpose_session_phase2_widgets_coordinator.dart
Due: run-the-unit-tests

update mocks
  packages/client/test/app/modules/shared/shared_mocks.mocks.dart
Due: run-the-unit-tests

update collaboration_home_coordinator_test
  packages/client/test/app/modules/collaboration/presentation/mobx/coordinators/collaboration_home/collaboration_home_coordinator_test.mocks.dart
Due: run-the-unit-tests

update home_screen_widgets_coordinator_test
  packages/client/test/app/modules/home/presentation/mobx/coordinator/home_screen_widgets_coordinator_test.dart
Due: run-the-unit-tests

add analysis options to exclude past client iterations
  analysis_options.yaml
Due: none

test github commit
  packages/client/lib/app/core/widgets/nokhte_custom_animation_builder/nokhte_custom_animation_builder.dart
Due: run-the-unit-tests

revert test github commit
  packages/client/lib/app/core/widgets/nokhte_custom_animation_builder/nokhte_custom_animation_builder.dart
Due: run-the-unit-tests

Create client-unit-tests.yml
  .github/workflows/client-unit-tests.yml
Due: none

test ci/cd with comment change
  packages/client/lib/app/core/widgets/nokhte_custom_animation_builder/nokhte_custom_animation_builder.dart
Due: run-the-unit-tests

fix: typo in client-unit-tests workflow
  .github/workflows/client-unit-tests.yml
Due: none

test ci/cd commit
  packages/client/lib/app/core/widgets/nokhte_custom_animation_builder/nokhte_custom_animation_builder.dart
Due: run-the-unit-tests

fix: another typo in version of client-unit-tests workflow
  .github/workflows/client-unit-tests.yml
Due: none

test ci/cd commit no. 2
  packages/client/lib/app/core/widgets/nokhte_custom_animation_builder/nokhte_custom_animation_builder.dart
Due: run-the-unit-tests

fix: client-unit-tests.yml to work
  .github/workflows/client-unit-tests.yml
Due: none

test commit for ci/cd
  packages/client/lib/app/core/widgets/nokhte_custom_animation_builder/nokhte_custom_animation_builder.dart
Due: run-the-unit-tests

fix no .env error in client-unit-tests workflow
  .github/workflows/client-unit-tests.yml
Due: none

test: login_screen_coordinator_test fixes
  packages/client/test/app/modules/authentication/presentation/mobx/coordinators/login_screen_coordinator_test.dart
Due: run-the-unit-tests

test: home_screen_coordinator_test
  packages/client/test/app/modules/home/presentation/mobx/coordinator/home_screen_coordinator_test.dart
Due: run-the-unit-tests

Update client-unit-tests.yml to work on development branch only
  .github/workflows/client-unit-tests.yml
Due: none

Create backend-unit-tests.yml
  .github/workflows/backend-unit-tests.yml
Due: none

test backend commit
  packages/backend/dart/test/01_user_names_table_test.dart
Due: test-the-db-rules-and-edge-functions

fix: add env variables to backend workflow
  .github/workflows/backend-unit-tests.yml
Due: none

Path conditions:
  test-the-db-rules-and-edge-functions: any of: packages/backend/**/*
  run-the-unit-tests: any of: packages/client/**/*
