Repository Nokhte/nokhte: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-the-db-rules-and-edge-functions, run-the-unit-tests

test-the-db-rules-and-edge-functions:
  stage: development
  script:
  - melos bs
  - cd packages/backend/dart
  - echo "APPLE_CLIENT_SECRET='$APPLE_CLIENT_SECRET'" >> .env
  - echo "GOOGLE_CLIENT_ID='$GOOGLE_CLIENT_ID'" >> .env
  - echo "GOOGLE_CLIENT_SECRET='$GOOGLE_CLIENT_SECRET'" >> .env
  - supabase stop --no-backup
  - supabase start
  ...

run-the-unit-tests:
  stage: development
  script:
  - melos bs
  - cd packages/client
  - touch .env
  - flutter pub get
  - flutter test

transition to encapsulated collaborator search logic
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/queries.dart
Due: test-the-db-rules-and-edge-functions

modify logic to only yield true if not entered yet
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/stream.dart
Due: test-the-db-rules-and-edge-functions

add entry status entity & add to barrel
  packages/client/lib/app/core/modules/update_existing_collaborations/domain/entities/entities.dart
  packages/client/lib/app/core/modules/update_existing_collaborations/domain/entities/individual_collaborator_entry_status_entity.dart
Due: run-the-unit-tests

comment & dead code cleanup
  packages/client/lib/app/modules/p2p_collaborator_pool/presentation/mobx/coordinators/collaborator_pool_screen_coordinator_store.dart
Due: run-the-unit-tests

swapped out if logic for encapsulated version
  packages/backend/dart/lib/storage/buckets/perspectives_audio/perspectives_audio_storage_queries.dart
  packages/backend/dart/lib/tables/_real_time_disabled/collective_sessions/queries.dart
  packages/backend/dart/lib/tables/_real_time_disabled/finished_collaborative_documents/queries.dart
  packages/backend/dart/lib/tables/_real_time_disabled/individual_sessions/queries.dart
  packages/backend/dart/lib/tables/_real_time_disabled/p2p_perspectives_tracking/queries.dart
  packages/backend/dart/lib/tables/_real_time_disabled/solo_sharable_documents/queries.dart
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/queries.dart
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/stream.dart
  packages/backend/dart/lib/tables/_real_time_enabled/timer_information/queries.dart
  packages/backend/dart/lib/tables/_real_time_enabled/timer_information/stream.dart
  packages/backend/dart/lib/tables/_real_time_enabled/working_collaborative_documents/queries.dart
  packages/backend/dart/lib/tables/_real_time_enabled/working_collaborative_documents/streams.dart
  packages/backend/dart/lib/tables/_real_time_enabled/working_collaborative_scheduling/queries.dart
  packages/backend/dart/lib/tables/_real_time_enabled/working_collaborative_scheduling/streams.dart
  packages/backend/dart/lib/tables/_real_time_enabled/working_perspectives_positioning/queries.dart
  packages/backend/dart/lib/tables/_real_time_enabled/working_perspectives_positioning/streams.dart
Due: test-the-db-rules-and-edge-functions

add collaborator search and entry status to stream updates
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/types/collaborator_search_and_entry_status.dart
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/types/types.dart
  packages/backend/dart/test/03_synchronous_search_test.dart
Due: test-the-db-rules-and-edge-functions

change to searchAndEntryStatus stream from bool
  packages/client/lib/app/modules/p2p_collaborator_pool/domain/entities/collaborator_search_status_entity.dart
Due: run-the-unit-tests

modify model to searchAndEntry stream
  packages/client/lib/app/modules/p2p_collaborator_pool/data/models/collaborator_search_status_model.dart
Due: run-the-unit-tests

move contract to search and entry
  packages/client/lib/app/modules/p2p_collaborator_pool/data/contracts/p2p_collaborator_pool_contract_impl.dart
Due: run-the-unit-tests

modify remote source to search and entry stream
  packages/client/lib/app/modules/p2p_collaborator_pool/data/sources/p2p_collaborator_pool_remote_source.dart
Due: run-the-unit-tests

migrate store to searchAndEntry status
  packages/client/lib/app/modules/p2p_collaborator_pool/presentation/mobx/main/get_collaborator_search_status_store.dart
  packages/client/lib/app/modules/p2p_collaborator_pool/presentation/mobx/main/get_collaborator_search_status_store.g.dart
Due: run-the-unit-tests

make coordinator reactive to entry status
  packages/client/lib/app/modules/p2p_collaborator_pool/presentation/mobx/coordinators/collaborator_pool_screen_coordinator_store.dart
Due: run-the-unit-tests

migrate tests from bool to searchAndEntry
  packages/client/test/app/modules/p2p_collaborator_pool/constants/entities/collaborator_pool/collaborator_search_status_entity.dart
  packages/client/test/app/modules/p2p_collaborator_pool/constants/models/collaborator_pool/collaborator_search_status_model.dart
  packages/client/test/app/modules/p2p_collaborator_pool/data/contracts/p2p_collaborator_pool_contract_impl_test.dart
  packages/client/test/app/modules/p2p_collaborator_pool/domain/logic/get_collaborator_search_status_test.dart
  packages/client/test/app/modules/p2p_collaborator_pool/fixtures/p2p_collaborator_pool_stack_mock_gen.mocks.dart
Due: run-the-unit-tests

import update existing collaborations into collaborator pool
  packages/client/lib/app/modules/p2p_collaborator_pool/p2p_collaborator_pool_module.dart
Due: run-the-unit-tests

add individual collaborator search and entry model
  packages/client/lib/app/core/modules/update_existing_collaborations/data/models/individual_collaborator_entry_status_model.dart
Due: run-the-unit-tests

add update individual collaborator entry logic
  packages/client/lib/app/core/modules/update_existing_collaborations/domain/logic/update_individual_collaborator_entry_status.dart
Due: run-the-unit-tests

add search and entry model to barrel
  packages/client/lib/app/core/modules/update_existing_collaborations/data/models/models.dart
Due: run-the-unit-tests

add update individual collaborator entry to contract
  packages/client/lib/app/core/modules/update_existing_collaborations/domain/contracts/update_existing_collaborations_contract.dart
  packages/client/lib/app/core/modules/update_existing_collaborations/domain/logic/logic.dart
Due: run-the-unit-tests

add awaits and update entry method to rs
  packages/client/lib/app/core/modules/update_existing_collaborations/data/sources/update_existing_collaborations_remote_source.dart
Due: run-the-unit-tests

add entry update method the contract-impl
  packages/client/lib/app/core/modules/update_existing_collaborations/data/contracts/update_existing_collaborations_contract_impl.dart
Due: run-the-unit-tests

add update individual entry mobx store
  packages/client/lib/app/core/modules/update_existing_collaborations/mobx/main/update_individual_collaborator_entry_status_store.dart
  packages/client/lib/app/core/modules/update_existing_collaborations/mobx/main/update_individual_collaborator_entry_status_store.g.dart
Due: run-the-unit-tests

add update entry to barrel
  packages/client/lib/app/core/modules/update_existing_collaborations/mobx/main/main.dart
Due: run-the-unit-tests

add entry entity to constants
  packages/client/lib/app/core/constants/entities.dart
Due: run-the-unit-tests

add update individual entry to coordinator
  packages/client/lib/app/core/modules/update_existing_collaborations/mobx/coordinator/update_existing_collaborations_coordinator.dart
Due: run-the-unit-tests

add new logic + store to module binds
  packages/client/lib/app/core/modules/update_existing_collaborations/update_existing_collaborations_module.dart
Due: run-the-unit-tests

add consecrate collaboration & entry to test #5
  packages/backend/dart/test/05_existing_collaborations_table_test.dart
Due: test-the-db-rules-and-edge-functions

fixed bug in get collaborator search test
  packages/client/test/app/modules/p2p_collaborator_pool/presentation/mobx/main/get_collaborator_search_status_store_test.dart
Due: run-the-unit-tests

add delete policies for purpose session related tables
  packages/backend/supabase/migrations/20231124203236_add_delete_policies_for_purpoe_session_related_tables.sql
Due: test-the-db-rules-and-edge-functions

added abort collaboration query && test
  packages/backend/dart/lib/tables/_real_time_enabled/existing_collaborations/queries.dart
  packages/backend/dart/test/05_existing_collaborations_table_test.dart
Due: test-the-db-rules-and-edge-functions

add new test & refactored update date & time
  packages/backend/dart/lib/tables/_real_time_enabled/working_collaborative_scheduling/queries.dart
  packages/backend/dart/test/14_working_collaborative_scheduling_table_test.dart
Due: test-the-db-rules-and-edge-functions

columns not applied in old migration file re-applied
  packages/backend/supabase/migrations/20231121134126_existing_collaboration_additions.sql
  packages/backend/supabase/migrations/20231124222003_existing_collaboration_additions.sql
Due: test-the-db-rules-and-edge-functions

double gesture proofing on home page
  packages/client/lib/app/modules/home/presentation/mobx/coordinators/home_screen_coordinator_store.dart
  packages/client/lib/app/modules/home/presentation/mobx/coordinators/home_screen_coordinator_store.g.dart
Due: run-the-unit-tests

fixed navigation on collaborator pool
  packages/client/lib/app/modules/p2p_collaborator_pool/presentation/mobx/coordinators/collaborator_pool_screen_coordinator_store.dart
Due: run-the-unit-tests

add string comparison and helper methods
  packages/core/lib/custom_control_structures/string_comparisons.dart
  packages/core/lib/types/collaborator_options.dart
  packages/core/lib/types/types.dart
Due: none

migrated to isCollaborator architecture in rs
  packages/client/lib/app/core/modules/collaborative_doc/data/sources/collaborative_doc_remote_source.dart
  packages/client/lib/app/core/modules/scheduling/data/sources/scheduling_remote_source.dart
  packages/client/lib/app/core/modules/timer/data/sources/timer_remote_source.dart
Due: run-the-unit-tests

navigation bug fixes
  packages/client/lib/app/modules/p2p_collaborator_pool/presentation/mobx/coordinators/collaborator_pool_screen_coordinator_store.dart
Due: run-the-unit-tests

comment cleanup
  packages/client/lib/app/core/mobx/base_times_up_store.dart
Due: run-the-unit-tests

proofed widget against multiple entries
  packages/client/lib/app/modules/p2p_collaborator_pool/presentation/mobx/coordinators/widget_coordinator_store.dart
  packages/client/lib/app/modules/p2p_collaborator_pool/presentation/mobx/coordinators/widget_coordinator_store.g.dart
Due: run-the-unit-tests

move to encapsulated logic & add returns
  packages/client/lib/app/core/modules/timer/data/sources/timer_remote_source.dart
  packages/core/lib/custom_control_structures/string_comparisons.dart
Due: run-the-unit-tests

refactored navigation to work
  packages/client/lib/app/modules/p2p_collaborator_pool/presentation/mobx/coordinators/collaborator_pool_screen_coordinator_store.dart
Due: run-the-unit-tests

Path conditions:
  test-the-db-rules-and-edge-functions: any of: packages/backend/**/*
  run-the-unit-tests: any of: packages/client/**/*
