Repository Nokhte/nokhte: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-the-db-rules-and-edge-functions, run-the-unit-tests

Path conditions:
  test-the-db-rules-and-edge-functions: any of: packages/backend/**/*
  run-the-unit-tests: any of: packages/client/**/*

style: add another test commit
  packages/client/lib/main.dart
Due: run-the-unit-tests

style: revert test commit(s)
  packages/client/lib/main.dart
Due: run-the-unit-tests

chore: add melos_nokhte.iml to gitignore
  .gitignore
Due: none

remove: common packs from melos.yaml & codebase in general
  common_packs.yaml
  common_packs_injector.dart
  melos.yaml
Due: none

cd: add backend staging & production deployment workflows
  .github/workflows/backend-production-deploy.yml
  .github/workflows/backend-staging-deploy.yml
Due: none

refactor: rename backend deploy jobs w/ different names
  .github/workflows/backend-production-deploy.yml
  .github/workflows/backend-staging-deploy.yml
Due: none

refactor: backend deploy jobs
  .github/workflows/backend-production-deploy.yml
  .github/workflows/backend-staging-deploy.yml
Due: none

fix: remove quotes in supabase link commands
  .github/workflows/backend-production-deploy.yml
  .github/workflows/backend-staging-deploy.yml
Due: none

add supabase access token to backend cd jobs
  .github/workflows/backend-production-deploy.yml
  .github/workflows/backend-staging-deploy.yml
Due: none

try alternate password appraoch w/ backend cd
  .github/workflows/backend-staging-deploy.yml
Due: none

update db push to include password in production backend deploy
  .github/workflows/backend-production-deploy.yml
Due: none

remove backend deployments from gitlab
  .gitlab-ci.yml
Due: none

cd: add client-staging-ios-deploy
  .github/workflows/client-staging-ios-deploy.yml
Due: none

add chmod to deploy-ios-staging workflow
  .github/workflows/client-staging-ios-deploy.yml
Due: none

update client staging workflow 1. migrate to git hold of certs 2. add match download of certs & provisioning profiles
  .github/workflows/client-staging-ios-deploy.yml
  packages/client/_scripts/ios/build_ios.sh
  packages/client/ios/fastlane/Matchfile
Due: run-the-unit-tests

ios cd: see if match gets downloaded now
  .github/workflows/client-staging-ios-deploy.yml
  packages/client/_scripts/ios/build_ios.sh
  packages/client/ios/fastlane/Fastfile
Due: run-the-unit-tests

fix: see if this make match work for ios cd
  .github/workflows/client-staging-ios-deploy.yml
  packages/client/ios/fastlane/Fastfile
Due: run-the-unit-tests

backend app store id for deploy job
  .github/workflows/client-staging-ios-deploy.yml
  packages/client/ios/fastlane/Fastfile
Due: run-the-unit-tests

remove match in distribute beta
  packages/client/ios/fastlane/Fastfile
Due: run-the-unit-tests

add match to distribute beta
  packages/client/ios/fastlane/Fastfile
Due: run-the-unit-tests

add match context in staging-ios-deploy
  .github/workflows/client-staging-ios-deploy.yml
Due: none

add minor bump in staging deploy
  .github/workflows/client-staging-ios-deploy.yml
Due: none

remove ios testflight from gitlab ci
  .gitlab-ci.yml
Due: none

fix: env not being populated properly in staging deploy
  .github/workflows/client-staging-ios-deploy.yml
Due: none

fix: echo into .env
  .github/workflows/client-staging-ios-deploy.yml
Due: none

add delete_active_nokhte_session logic method
  packages/client/lib/app/core/modules/delete_unconsecrated_collaborations/domain/logic/delete_active_nokhte_session.dart
Due: run-the-unit-tests

add delete query for active_nokhte_sessions
  packages/backend/dart/lib/tables/_real_time_enabled/active_nokhte_sessions/queries.dart
Due: test-the-db-rules-and-edge-functions

test: add test for delete query
  packages/backend/dart/test/10_active_nokhte_sessions_table_test.dart
Due: test-the-db-rules-and-edge-functions

add: deleteActiveNokhteSession to remote source
  packages/client/lib/app/core/modules/delete_unconsecrated_collaborations/data/sources/delete_unconsecrated_collaborations_remote_source.dart
Due: run-the-unit-tests

add: deleteActiveNokhteSession to contract & impl
  packages/client/lib/app/core/modules/delete_unconsecrated_collaborations/data/contracts/delete_unconsecrated_collaborations_contract_impl.dart
  packages/client/lib/app/core/modules/delete_unconsecrated_collaborations/domain/contracts/delete_unconsecrated_collaboration_contract.dart
Due: run-the-unit-tests

add deleteActiveNokhteSession to delete_collaborations_coordinator
  packages/client/lib/app/core/modules/delete_unconsecrated_collaborations/mobx/delete_unconsecrated_collaborations_coordinator.dart
Due: run-the-unit-tests

add: delete_active_nokhte_session export
  packages/client/lib/app/core/modules/delete_unconsecrated_collaborations/domain/logic/logic.dart
Due: run-the-unit-tests

update binds in delete_unconsecrated_collaborations_module
  packages/client/lib/app/core/modules/delete_unconsecrated_collaborations/delete_unconsecrated_collaborations_module.dart
Due: run-the-unit-tests

add back deleteUnconcsecratedCollaborations in home_screen constructor
  packages/client/lib/app/modules/home/presentation/mobx/coordinators/home_screen_coordinator.dart
Due: run-the-unit-tests

take off transition for phase 1 nokhte_session
  packages/client/lib/app/modules/nokhte_session/nokhte_session_module.dart
Due: run-the-unit-tests

update version of ios client
  packages/client/ios/fastlane/report.xml
  packages/client/pubspec.yaml
  packages/client/version.yml
Due: run-the-unit-tests

remove extraneous print statement in collaboration_remote_source
  packages/client/lib/app/modules/collaboration/data/sources/collaboration_remote_source.dart
Due: run-the-unit-tests

fix: mirror if disconnect & click on deep link
  packages/client/lib/app/modules/home/presentation/mobx/coordinators/home_screen_coordinator.dart
  packages/client/lib/app/modules/home/presentation/mobx/coordinators/home_screen_widgets_coordinator.dart
  packages/client/lib/app/modules/home/presentation/mobx/coordinators/home_screen_widgets_coordinator.g.dart
Due: run-the-unit-tests

test: update mocks
  packages/client/test/app/modules/home/fixtures/home_stack_mock_gen.mocks.dart
Due: run-the-unit-tests

remove: gitlab sync workflow (not needed anymore)
  .github/workflows/gitlab-sync.yml
Due: none
